<div data-href="{{ product.url | within: collection }}"
  data-image="{{ product.featured_image.src | img_url: '4000x' }}"
  data-title="{{ product.title }}"
  data-compare_at_price="{{ product.compare_at_price }}"
  data-price="{{ product.price }}"
  data-price_varies="{{ product.price_varies }}"
  data-available="{{ product.available }}"></div>
