{% capture section_style_desktop %}
  {% if section.settings.ptop != blank %}
    padding-top: {{ section.settings.ptop }}px;
  {% endif %}

  {% if section.settings.pbottom != blank %}        
    padding-bottom : {{ section.settings.pbottom }}px;
  {% endif %}

  {% if section.settings.background_color != blank %}
    background-color: {{ section.settings.background_color }};
  {% endif %}
{% endcapture %}

{% capture section_style_mobile %}
  {% if section.settings.ptop_mob != blank %}
  padding-top: {{ section.settings.ptop_mob }}px; 
  {% endif %}

  {% if section.settings.pbottom_mob != blank %}
  padding-bottom: {{ section.settings.pbottom_mob }}px;
  {% endif %}
{% endcapture %}

<style>
  {% if section_style_desktop != blank %}
    {% if section.settings.background_color_type == 'full_width' %}
    #shopify-section-{{ section.id }} {
      {{ section_style_desktop }}
    }
    {% elsif section.settings.background_color_type == 'container' %}
     #shopify-section-{{ section.id }} .contents {
        {{ section_style_desktop }}
      }
    {% endif %}
  {% endif %}

  @media (max-width: 767px) {
    {% if section_style_mobile != blank %}
      {% if section.settings.background_color_type == 'full_width' %}
      #shopify-section-{{ section.id }} {
        {{ section_style_mobile }}
      }
      {% elsif section.settings.background_color_type == 'container' %}
      #shopify-section-{{ section.id }} .contents {
        {{ section_style_mobile }}
      }
      {% endif %}
    {% endif %}
  }
</style>


<div class="contents {{ section.settings.contained }} to-edges">
  {% capture image_layout %}
  <div class="col-sm-30 no-padding feature-row__image">
    {% if section.settings.image != blank %}
      {% include 'image', class:'feature-row__image', file: section.settings.image, default_size: 'master', alt: section.settings.image.alt | escape %}
    {% else %}
      {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
    {% endif %}
  </div>
  {% endcapture %}
  
  <div class="row align-items-{% if section.settings.height_align != blank %}{{ section.settings.height_align }}{% else %}center{% endif %}">
    {% if section.settings.layout == 'left' %}
      {{ image_layout }}
    {% endif %}

    <div class="col-sm-26 offset-sm-2 feature-row__text feature-row__text--{{ section.settings.layout }} text-{{ section.settings.text_layout }}">

      {% capture title %}
        {% if section.settings.title != blank %}
          <style>
            #shopify-section-{{ section.id }} .title {
              {% if section.settings.title_size != blank %}
                font-size: {{ section.settings.title_size }}px;
              {% endif %}
              {% if section.settings.title_color != blank %}
                color: {{ section.settings.title_color }};
              {% endif %}
              {% if section.settings.title_margin_bottom != blank %}
                margin-bottom: {{ section.settings.title_margin_bottom }}px;
              {% endif %}
            }

          </style>
          <h2 class="h3 title {% if section.settings.enable_social_icons %} col no-padding{% endif %}">
            {{ section.settings.title }}
            {% if section.settings.subtitle != blank %}
              <br>
              <span style="
                {% if section.settings.subtitle_size != blank %}
                font-size: {{ section.settings.subtitle_size }}px;
                {% endif %}
                {% if section.settings.subtitle_color != blank %}
                color: {{ section.settings.subtitle_color }};
                {% endif %}">{{ section.settings.subtitle }}</span>
            {% endif %}
          </h2>
        {% endif %}
      {% endcapture %}

      {% if section.settings.enable_social_icons %}
        <div class="d-flex">
          {{ title }}
          {% assign class = "col-auto" %}
          {% include 'social-icons', class: class %}
        </div>
      {% else %}
        {{ title }}
      {% endif %}

      {% if section.settings.text != blank %}
        <div class="rte-setting featured-row__subtext" 
          style="{% if section.settings.content_size != blank %}
              font-size: {{ section.settings.content_size }}px;
            {% endif %}
            {% if section.settings.content_color != blank %}
              color: {{ section.settings.content_color }};
            {% endif %}">{{ section.settings.text }}</div>
      {% endif %}
      {% if section.settings.button_label != blank and section.settings.button_link != blank %}
        {% if section.settings.button_color != blank %}
          {% style %}
            #shopify-section-{{ section.id }} .button {
              color: {{ section.settings.button_color }};
            }
            #shopify-section-{{ section.id }} .button:hover {
              color: {{ section.settings.button_hover_color }};
            }
          {% endstyle %}
        {% endif %}

        <a class="button h4" href="{{ section.settings.button_link }}">
          <span style="
            {% if section.settings.button_font_size != blank %}
              font-size: {{ section.settings.button_font_size }}px;
            {% endif %}
            {% if section.settings.button_border_bottom > 0 %}
              border-bottom: {{ section.settings.button_border_bottom }}px solid;
            {% endif %}">
            {{ section.settings.button_label }}
            {% if section.settings.enable_icon and section.settings.icon_text != blank %} 
            <span class="title_icon" 
              style="{% if section.settings.icon_color != blank %}
                color: {{ section.settings.icon_color }}
                {% endif %}">{{ section.settings.icon_text }}</span>
            {% endif %}
          </span>          
        </a>
        </h4>
      {% endif %}
    </div>

    {% if section.settings.layout == 'right' %}
      {{ image_layout }}
    {% endif %}
  </div>
</div>