{% assign videourl = '' %}
{% if image.alt != blank %}
  {% if image.alt contains 'product_youtube_' %}
    {% assign url_ = image.alt | remove: 'product_youtube_' %}
    {% assign url_split = url_ | split: '/' %}
    {% assign videourl = "https://www.youtube.com/watch?v=" | append: url_split[0] %}
  {% elsif image.alt contains 'product_vimeo_' %}
  {% assign url_ = image.alt | remove: 'product_vimeo_' %}
    {% assign url_split = url_ | split: '/' %}
    {% assign videourl = "https://player.vimeo.com/video/" | append: url_split[0] %}
  {% endif %}
{% endif %}

{% if image.alt contains 'featured_' %}
{% else %}
  <li class="product-single__thumbnails-item">
    <a
      class="text-link product-single__thumbnail product-single__thumbnail--{{ product.id }}
        {% if videourl != ''  %} video_thumbnail {% endif %}"
      {% if videourl != ''  %} 
        data-fancybox 
        data-video-url="{{ videourl }}"
        href="{{ videourl }}"
      {% else %}
        href="{{ image.src | img_url: product_image_size }}"
      {% endif %}

      {% for variant in image.variants limit: 1 %}data-varattach="{{ variant.id }}" data-sectionid="{{ product.id }}"{% endfor %}
      {% if enable_zoom %}data-zoom="{{ image.src | img_url: product_image_zoom_size }}"{% endif %}
      style="background-image:url({{ image.src | img_url: product_thumb_size }});">

      {% if videourl != ''  %} 
        <div class="svg-button">
          {% include 'svg-video-play' %}
        </div>
      {% endif %}
    </a>
  </li>
{% endif %}