{%- assign current_variant = product.selected_or_first_available_variant -%}
{%- assign product_thumb_size = '200x' -%}
{%- assign product_thumbnail_perrow = '5' %}
{%- assign product_thumbnail_width = 'col-md-12' -%}
{%- assign product_image_size = '720x' -%}
{%- assign product_image_zoom_size = '1400x' -%}
{%- assign enable_zoom = settings.enable_zoom -%}

{%- assign product_thumbnail_perrow = product_thumbnail_perrow | times: 1 -%}

<div id="shopify-section-product-images" class="shopify-section col-md-30">

    <p class="breadcrumbs d-md-none">Shop \ {% if collection != blank %}<a href="{{ collection.url }}">{{ collection.title }}</a> \{% endif %} <a href="{{ product.url }}">{{ product.title }}</a></p>

    <div class="product-single__photos">

    {% comment %}
    {%- assign featured_img_src = current_variant.featured_image.src | default: product.featured_image.src -%}
    {%- assign featured_img_alt = current_variant.featured_image.alt | default: product.featured_image.alt -%}
    {% endcomment %}

    {%- assign featured_img_src = product.featured_image.src | default: product.featured_image.src -%}
    {%- assign featured_img_alt = product.featured_image.alt | default: product.featured_image.alt -%}

    {%- assign prod_image_size = product.images.size -%}

    {% if settings.vertical and prod_image_size > 1 %}
        <div class="row vertical-thumbs">
        <div class="col-lg-50 push-lg-10">
    {% endif %}

    <div id="FeaturedImageZoom-{{ product.id }}" class="product-single__photo{% if product.images.size > 1 %} product-single__photo--has-thumbnails{% endif %}" {% if enable_zoom %}data-zoom="{{ featured_img_src | img_url: product_image_zoom_size }}"{% endif %}>
        <img src="{{ featured_img_src | img_url: product_image_size }}" 
        alt="{{ featured_img_alt }}" id="FeaturedImage-{{ product.id }}" 
        class="product-featured-img{% if enable_zoom %} js-zoom-enabled{% endif %}">
    </div>

    {% if prod_image_size > product_thumbnail_perrow %}
        {%- assign enable_buttons = true -%}
    {% endif %}

    {% if prod_image_size > 1 %}

    {% if settings.vertical and prod_image_size > 1 %}
        </div>
        <div class="col-lg-10 pull-lg-50">
    {% endif %}

        <div class="thumbnails-wrapper">

        {% if enable_buttons %}<a id="prevArrow" class="slick-prev"></a>{% endif %}
        <ul class="product-single__thumbnails product-single__thumbnails-{{ product.id }}">
            {% for image in product.images %}
            {% include 'loop-thumbnail' %}
            {% endfor %}
        </ul>
        {% if enable_buttons %}<a id="nextArrow" class="slick-next"></a>{% endif %}

        </div>
    {% endif %}

    {% if settings.vertical and prod_image_size > 1 %}
        </div>
        </div>
    {% endif %}
    </div>
</div>

<script>
    $(document).ready(function(){
        $('.product-single__thumbnails').on('init.slick', function(s){
        function slide_select(a) {
            return a.closest('li').filter(':not(.slick-cloned)').data('slick-index');
        };
        function slideToFirst() {
            try {
            $(s.target).resize().slick('slickGoTo',slide_select($('.active-thumb')));
            }
            catch(error) {
            setTimeout(slideToFirst, 100);
            return;
            }
        }
        slideToFirst();
        });


        $('.product-single__thumbnails').slick({
        infinite: true,
        slidesToShow: {{ product_thumbnail_perrow }},
        {% if enable_buttons %}
            prevArrow: $('#prevArrow'),
            nextArrow: $('#nextArrow'),
        {% else %}
            arrows: false,
        {% endif %}
        {% if settings.vertical %}
            vertical: true,
        {% endif %}
        responsive: [
            {
            breakpoint: 992,
            settings: {
                {% unless product_thumbnail_perrow <= 3 %}
                slidesToShow: {{ product_thumbnail_perrow | minus: 1 }},
                {% endunless %}
                vertical: false
            }
            },
            {
            breakpoint: 576,
            settings: {
                {% unless product_thumbnail_perrow <= 2 %}
                slidesToShow: {{ product_thumbnail_perrow | minus: 1 }},
                {% endunless %}
                vertical: false
            }
            }
        ]
        });
    });

    function fixSlickStyle(event, slick) {
        if (slick.slideCount <= slick.options.slidesToShow) {
        slick.$slideTrack.css('transform','');
        }
    }

    $('.product-single__thumbnails').on('setPosition', function(event, slick) {
        fixSlickStyle(event, slick);
    })
    .on('afterChange', function(event, slick, currentSlide){
        fixSlickStyle(event, slick);
    })
</script>