<ul class="site-nav list--inline {{ nav_alignment }} jetmenu" id="SiteNav">
  {% for link in linklists[settings.main_linklist].links %}
    {%- assign child_list_handle = link.title | handleize -%}

    {% if settings.megamenu1 == link.title %}
      <li class="site-nav--has-megamenu{% if link.active %} site-nav--active active{% endif %}">
        {% assign link_title = link.title | downcase %}
        <a  
          href="{{ link.url }}" 
          class="site-nav__link site-nav__link--main
            {% if link_title == 'clearance' or link_title == 'sale' %}active_color{% endif %}" 
          aria-has-popup="true" aria-expanded="false" aria-controls="SiteNavLabel-{{ child_list_handle }}">
          {{ link.title }}
          <span class="visually-hidden">{{ 'layout.navigation.expand' | t }}</span>
        </a>
        {% section 'megamenu1' %}
      </li>

    {% elsif settings.megamenu2 == link.title %}
      <li class="site-nav--has-megamenu{% if link.active %} site-nav--active active{% endif %}">
        {% assign link_title = link.title | downcase %}
        <a href="{{ link.url }}" 
          class="site-nav__link site-nav__link--main
            {% if link_title == 'clearance' or link_title == 'sale' %} active_color{% endif %}" 
          aria-has-popup="true" aria-expanded="false" aria-controls="SiteNavLabel-{{ child_list_handle }}">
          {{ link.title }}
          <span class="visually-hidden">{{ 'layout.navigation.expand' | t }}</span>
        </a>
        {% section 'megamenu2' %}
      </li>

    {% elsif settings.megamenu3 == link.title %}
      <li class="site-nav--has-megamenu{% if link.active %} site-nav--active active{% endif %}">
        {% assign link_title = link.title | downcase %}
        <a href="{{ link.url }}" 
          class="site-nav__link site-nav__link--main
            {% if link_title == 'clearance' or link_title == 'sale' %}active_color{% endif %}" 
          aria-has-popup="true" aria-expanded="false" aria-controls="SiteNavLabel-{{ child_list_handle }}">
          {{ link.title }}
          <span class="visually-hidden">{{ 'layout.navigation.expand' | t }}</span>
        </a>
        {% section 'megamenu3' %}
      </li>

    {% elsif settings.megamenu4 == link.title %}
      <li class="site-nav--has-megamenu{% if link.active %} site-nav--active active{% endif %}">
        {% assign link_title = link.title | downcase %}
        <a  
          href="{{ link.url }}" 
          class="site-nav__link site-nav__link--main 
            {% if link_title == 'clearance' or link_title == 'sale' %}active_color{% endif %} " 
          aria-has-popup="true" aria-expanded="false" aria-controls="SiteNavLabel-{{ child_list_handle }}">
          {{ link.title }}
          <span class="visually-hidden">{{ 'layout.navigation.expand' | t }}</span>
        </a>
        {% section 'megamenu4' %}
      </li>

    {% elsif settings.megamenu5 == link.title %}
      <li class="site-nav--has-megamenu{% if link.active %} site-nav--active active{% endif %}">
        {% assign link_title = link.title | downcase %}
        <a href="{{ link.url }}" 
          class="site-nav__link site-nav__link--main
            {% if link_title == 'clearance' or link_title == 'sale' %}active_color{% endif %}" 
          aria-has-popup="true" aria-expanded="false" aria-controls="SiteNavLabel-{{ child_list_handle }}">
          {{ link.title }}
          <span class="visually-hidden">{{ 'layout.navigation.expand' | t }}</span>
        </a>
        {% section 'megamenu5' %}
      </li>

    {% elsif settings.megamenu6 == link.title %}
      <li class="site-nav--has-megamenu{% if link.active %} site-nav--active active{% endif %}">
        {% assign link_title = link.title | downcase %}
        <a  href="{{ link.url }}" 
          class="site-nav__link site-nav__link--main
            {% if link_title == 'clearance' or link_title == 'sale' %} active_color{% endif %}" 
          aria-has-popup="true" aria-expanded="false" aria-controls="SiteNavLabel-{{ child_list_handle }}">
          {{ link.title }}
          <span class="visually-hidden">{{ 'layout.navigation.expand' | t }}</span>
        </a>
        {% section 'megamenu6' %}
      </li>

    {% elsif linklists[child_list_handle].links != blank %}
      <li class="site-nav--has-dropdown{% if link.active %} site-nav--active active{% endif %}">
        {% assign link_title = link.title | downcase %}
        <a href="{{ link.url }}" 
          class="site-nav__link site-nav__link--main 
            {% if link_title == 'clearance' or link_title == 'sale' %} active_color{% endif %} " 
          aria-has-popup="true" aria-expanded="false" aria-controls="SiteNavLabel-{{ child_list_handle }}">
          {{ link.title }}
          <span class="visually-hidden">{{ 'layout.navigation.expand' | t }}</span>
        </a>

        <ul class="dropdown">
          {% for childlink in linklists[child_list_handle].links %}
            <li {% if childlink.active %}class="site-nav--active"{% endif %}>
              <a href="{{ childlink.url }}" class="site-nav__link site-nav__child-link{% if forloop.last %} site-nav__link--last{% endif %}">{{ childlink.title | escape }}</a>
            </li>
          {% endfor %}
        </ul>
      </li>

    {% else %}
      <li {% if link.active %}class="site-nav--active active"{% endif %}>
        <a href="{{ link.url }}" class="site-nav__link site-nav__link--main">{{ link.title }}</a>
      </li>
    {% endif %}
  {% endfor %}
</ul>

<script>
  $(document).ready(function(){
    $( ".megamenu .submenu_links li a" ).hover(
      function() {
        var product_image_url = $(this).attr('data-product-image');
        console.log('product_image_url = ', product_image_url);
        if (product_image_url != undefined && product_image_url != '' ) {
          if ($(this).closest('.megamenu').find('.megamenu_image img').length > 0) {
            $(this).closest('.megamenu').find('.megamenu_image img').attr("src",product_image_url);
          }
        }
      }, function() {
      }
    );
  });
</script>