<style>
  {% if section.settings.background_color %}
  #shopify-section-{{ section.id }} {
    background-color: {{ section.settings.background_color }};
  }
  {% endif %}
</style>

<div class="{{ section.settings.contained }}">
  <div class="row" data-section-id="{{ section.id }}" data-section-type="slideshow-section">

    {% if section.blocks.size > 0 %}
      <div class="col-60 slideshow-wrapper no-padding">
        <button type="button" class="visually-hidden slideshow__pause" data-id="{{ section.id }}" aria-live="polite">
          <span class="slideshow__pause-stop">
            {% include 'icon-pause' %}
            <span class="icon__fallback-text">{{ 'sections.slideshow.pause_slideshow' | t }}</span>
          </span>
          <span class="slideshow__pause-play">
            {% include 'icon-play' %}
            <span class="icon__fallback-text">{{ 'sections.slideshow.play_slideshow' | t }}</span>
          </span>
        </button>

        <div class="slideshow slideshow--{{ section.settings.slideshow_height }}" id="Slideshow-{{ section.id }}" data-autoplay="{{ section.settings.autoplay }}" data-speed="{{ section.settings.autoplay_speed }}" data-dots="{{ section.settings.dots }}" data-arrows="{{ section.settings.arrows }}">
          {% for block in section.blocks %}
            {%- assign is_background_video = false -%}
            {% if block.type == 'video' %}
              {% if block.settings.video_type == 'background' or block.settings.video_type =='background-chrome' %}
                {%- assign is_background_video = true -%}
              {% endif %}
            {% endif %}

            <div id="slideshow__slide--{{ block.id }}" class="slideshow__slide slideshow__slide--{{ block.id }}{% if is_background_video %} slideshow__slide--background-video{% endif %}" {{ block.shopify_attributes }}>
              {% if block.settings.link != blank %}
                <a href="{{ block.settings.link }}" class="slideshow__link">
              {% else %}
                <div class="slideshow__link">
              {% endif %}

              <style>
                {% if block.settings.image != blank %}
                  .slideshow__image--{{ block.id }} {
                    background-position: {{ block.settings.alignment }};
                  }

                  @media screen and (max-width: 576px) {
                    .slideshow__image--{{ block.id }} {
                      {% if block.settings.image_mobile != blank %}
                        background-image: url('{{ block.settings.image_mobile | img_url: '800x' }}');
                      {% else %}
                        background-image: url('{{ block.settings.image | img_url: '800x' }}');
                      {% endif %}
                    }
                  }

                  @media screen and (min-width: 577px) and (max-width: 768px) {
                    .slideshow__image--{{ block.id }} {
                      {% if block.settings.image_mobile != blank %}
                      background-image: url('{{ block.settings.image_mobile | img_url: '1000x' }}');
                      {% else %}
                      background-image: url('{{ block.settings.image | img_url: '1000x' }}');
                      {% endif %}
                    }
                  }

                  @media screen and (min-width: 769px) and (max-width: 992px) {
                    .slideshow__image--{{ block.id }} {
                      background-image: url('{{ block.settings.image | img_url: '1200x' }}');
                    }
                  }

                  @media screen and (min-width: 993px) and (max-width: 1200px) {
                    .slideshow__image--{{ block.id }} {
                      background-image: url('{{ block.settings.image | img_url: '1600x' }}');
                    }
                  }

                  @media screen and (min-width: 1201px) {
                    .slideshow__image--{{ block.id }} {
                      background-image: url('{{ block.settings.image | img_url: '2000x' }}');
                    }
                  }

                {% endif %}

                .slideshow__text--{{ block.id }} h2.h1 {
                  {% if block.settings.title_size != blank %}
                    font-size: {{ block.settings.title_size }}px;
                  {% endif %}
                  {% if block.settings.title_color != blank %}
                    color: {{ block.settings.title_color }};
                  {% endif %}
                  {% if block.settings.title_margin_bottom != blank %}
                    margin-bottom: {{ block.settings.title_margin_bottom }}px;
                  {% endif %}
                  {% if block.settings.title_bold == false  %}
                  font-weight: 500;
                  {% endif %}
                }

                @media screen and (max-width: 992px) {
                  .slideshow__text--{{ block.id }} h2.h1 {
                    {% if block.settings.title_size_tablet != blank %}
                      font-size: {{ block.settings.title_size_tablet }}px;
                    {% endif %}
                  }
                }

                @media screen and (max-width: 768px) {
                  .slideshow__text--{{ block.id }} h2.h1 {
                    {% if block.settings.title_mobile_size != blank %}
                      font-size: {{ block.settings.title_mobile_size }}px;
                    {% endif %}
                  }
                }

                .slideshow__text--{{ block.id }} span.mega-subtitle {
                  {% if block.settings.subtitle_color != blank %}
                    color: {{ block.settings.subtitle_color }};
                  {% endif %}
                  {% if block.settings.subtitle_size != blank %}
                    font-size: {{ block.settings.subtitle_size }}px;
                  {% endif %}
                }
              </style>

              {% if block.type == 'video' %}
                {% if block.settings.video_id != blank %}
                  <div class="video-loader"></div>
                {% endif %}
                {% unless block.settings.video_type == 'background' %}
                  <button type="button" class="text-link slideshow__video-control slideshow__video-control--close" data-controls="SlideshowVideo-{{ block.id }}">
                    {% include 'icon-close' %}
                    <span class="icon__fallback-text">{{ 'sections.slideshow.close_video' | t }}</span>
                  </button>
                {% endunless %}
                {% if block.settings.video_id != blank %}
                  <div id="SlideshowVideo-{{ block.id }}" class="slideshow__video {% if is_background_video %}slideshow__video--background{% endif %} slideshow__video--{{ block.settings.video_type }}"
                    data-id="{{ block.settings.video_id }}"
                    data-type="{{ block.settings.video_type }}"
                    data-slideshow="Slideshow-{{ section.id }}"></div>
                {% endif %}
              {% endif %}

              <div class="slideshow__image slideshow__image--{{ block.id }}">
                {% if block.settings.image == blank %}
                  <div class="placeholder-background">
                    {% capture current %}{% cycle 1, 2 %}{% endcapture %}
                    {{ 'lifestyle-' | append: current | placeholder_svg_tag: 'placeholder-svg' }}
                  </div>
                {% endif %}
              </div>
              
              {% if block.settings.overlay %}
              <style>
                #shopify-section-{{ section.id }} .slideshow__text--{{ block.id }}.slideshow__overlay::before {
                  {% if block.settings.overlay_color != blank %}
                  background-color: {{ block.settings.overlay_color }};
                  {% endif %}
                  opacity: {{ block.settings.overlay_opacity }};
                }
              </style>
              {% endif %}

              <div class="slideshow__text-wrap slideshow__text--{{ block.id }} row{% if block.settings.overlay %} slideshow__overlay{% endif %}">
                <div class="
                  {% if block.settings.text_layout == 'center' %} col-md-40 offset-md-10
                  {% elsif block.settings.text_layout == 'right' %} col-md-30 offset-md-30
                  {% else %}
                    col-md-30
                  {% endif %}
                   text-{{ block.settings.text_align }} 
                   text-height-{{ block.settings.text_layout_height }} 
                   slideshow__text-content">

                  <div class="page-width">
                    {% unless block.settings.title == blank %}
                      <h2 class="h1 mega-title slideshow__title{% if settings.link != blank %} slideshow__title--has-link{% endif %}">
                        {{ block.settings.title }}
                      </h2>
                    {% endunless %}

                    {% if block.settings.heading_border == true %}
                      <div style="
                        {% if block.settings.heading_border_width > 0 and block.settings.heading_border_bottom > 0 %}                          
                          width: {{ block.settings.heading_border_width }}px;
                          border-bottom: {{ block.settings.heading_border_bottom }}px solid;
                          {% if block.settings.heading_border_color != blank %}
                            border-color: {{ block.settings.heading_border_color }};
                          {% endif %}
                        {% endif %}
                        {% if block.settings.text_align == 'left' %}
                          margin-right: auto;
                        {% elsif block.settings.text_align == 'right' %}
                          margin-left: auto;
                        {% else %}
                          margin-left: auto;
                          margin-right: auto;
                        {% endif %}"></div>
                    {% endif %}

                    {% unless block.settings.subtitle == blank %}
                      <span class="mega-subtitle slideshow__subtitle">
                        {{ block.settings.subtitle | escape }}
                      </span>
                    {% endunless %}
                    
                    {% if block.type == 'video' %}
                      {% unless block.settings.video_type == 'background' %}
                        <div class="slideshow__video-control--play-wrapper{% if block.settings.title != blank or block.settings.subheading != blank %} slideshow__video-control--play-wrapper--push{% endif %}">
                          <button type="button" class="text-link slideshow__video-control slideshow__video-control--play" data-controls="SlideshowVideo-{{ block.id }}">
                            {% include 'icon-play-video' %}
                            <span class="icon__fallback-text">{{ 'sections.slideshow.play_video' | t }}</span>
                          </button>
                        </div>
                      {% endunless %}
                    {% else %}
                      {% if block.settings.link != blank and block.settings.button != blank %}
                        {% style %}
                          #slideshow__slide--{{ block.id }} .btn {
                            {% if block.settings.button_width != blank %}
                              width: {{ block.settings.button_width }}px;
                            {% endif %}
                            {% if block.settings.button_text_color != blank %}
                              color: {{ block.settings.button_text_color }};
                            {% endif %}
                            {% if block.settings.button_background_color != blank %}
                              background-color: {{ block.settings.button_background_color }};
                            {% endif %}
                            {% if block.settings.button_title_size != blank %}
                              font-size: {{ block.settings.button_title_size }}px;
                            {% endif %}
                          }
                          #slideshow__slide--{{ block.id }} .btn:hover {
                            {% if block.settings.button_text_hover_color != blank %}
                              color: {{ block.settings.button_text_hover_color }};
                            {% endif %}
                            {% if block.settings.button_background_hover_color != blank %}
                              background-color: {{ block.settings.button_background_hover_color }};
                            {% endif %}
                          }
                          {% if block.settings.button_width_mobile != blank %}
                          @media screen and (max-width: 767px) {
                            #slideshow__slide--{{ block.id }} .btn {
                              {% if block.settings.button_width_mobile != blank %}
                                width: {{ block.settings.button_width_mobile }}px;
                              {% endif %}
                              {% if block.settings.button_title_size_mobile != blank %}
                                font-size: {{ block.settings.button_title_size_mobile }}px;
                              {% endif %}
                            }
                          }
                          {% endif %}

                        {% endstyle %}
                        <span class="btn">{{ block.settings.button }}</span>
                      {% endif %}
                    {% endif %}
                  </div>
                </div>

                {% if block.settings.cross_mark != blank %}
                  <img class="cross-mark {{ block.settings.cross_align }}" 
                    src="{{ block.settings.cross_mark | img_url: '180x' }}" alt="">
                {% endif %}
              </div>

              {% if block.settings.link != blank %}
                </a>
              {% else %}
                </div>
              {% endif %}
            </div>
          {% endfor %}
        </div>
      </div>
    {% endif %}

    {% if section.blocks.size == 0 %}
      <div class="placeholder-noblocks">
        {{ 'homepage.onboarding.no_content' | t }}
      </div>
    {% endif %}
  </div>
</div>

{% if section.settings.slideshow_height == 'maintain_ratio' %}
  <style type="text/css">
    #shopify-section-{{ section.id }} .slideshow.slideshow--maintain_ratio {
      height: auto;
    }
    #shopify-section-{{ section.id }} .slideshow.slideshow--maintain_ratio .slideshow__slide {
      height: auto;
    }
    #shopify-section-{{ section.id }} .slideshow.slideshow--maintain_ratio .slideshow__slide:before {
      content: '';
      display: block;
      width: 100%;
      height: 0px;
      {% capture img_width %}{{ section.blocks[0].settings.image.width }}{% endcapture %}
      {% capture img_height %}{{ section.blocks[0].settings.image.height | times: 100 }}{% endcapture %}
      {% capture rounddown %}{{ img_height | divided_by: img_width }}{% endcapture %}
      padding-top: {{ rounddown | plus: 1 }}%;
    }
    @media screen and (max-width: 768px) {
      #shopify-section-{{ section.id }} .slideshow.slideshow--maintain_ratio .slideshow__slide:before {
        {% if section.blocks[0].settings.image_mobile != blank %}
          {% capture img_mobile_width %}{{ section.blocks[0].settings.image_mobile.width }}{% endcapture %}
          {% capture img_mobile_height %}{{ section.blocks[0].settings.image_mobile.height | times: 100 }}{% endcapture %}
          {% capture rounddown_mobile %}{{ img_mobile_height | divided_by: img_mobile_width }}{% endcapture %}
          padding-top: {{ rounddown_mobile | plus: 1 }}%;
        {% else %}
          padding-top: 100%;
        {% endif %}
      }
    }
  </style>
{% endif %}
