<!doctype html>
<!--[if IE 9]> <html class="ie9 no-js" lang="{{ shop.locale }}"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js" lang="{% if cart.attributes.language == "FR" %}FR{%else%}EN{%endif%}"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="theme-color" content="{{ settings.color_accent }}">
  <link rel="canonical" href="{{ canonical_url }}">

  {%- if settings.favicon != blank -%}
    <link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png">
  {%- endif -%}

  {%- capture seo_title -%}
    {{ page_title }}
    {%- if current_tags -%}
      {%- assign meta_tags = current_tags | join: ', ' -%} &ndash; {{ 'general.meta.tags' | t: tags: meta_tags -}}
    {%- endif -%}
    {%- if current_page != 1 -%}
      &ndash; {{ 'general.meta.page' | t: page: current_page }}
    {%- endif -%}
    {%- assign escaped_page_title = page_title | escape -%}
    {%- unless escaped_page_title contains shop.name -%}
      &ndash; {{ shop.name }}
    {%- endunless -%}
  {%- endcapture -%}
  <title>{{ seo_title | strip }}</title>

  {%- if page_description -%}
    <meta name="description" content="{{ page_description | escape }}">
  {%- endif -%}

  {% include 'social-meta-tags' %}

  {{ 'bootstrap.min.css' | asset_url | stylesheet_tag }}
  {{ 'fa.min.css' | asset_url | stylesheet_tag }}
  {{ 'inferno-base.scss.css' | asset_url | stylesheet_tag }}

  <link rel="preload" href="{{ 'inferno-vendor.scss.css' | asset_url }}" as="style">
  <link rel="stylesheet" href="{{ 'inferno-vendor.scss.css' | asset_url }}">
  <link rel="preload" href="{{ 'inferno.scss.css' | asset_url }}" as="style">
  <link rel="stylesheet" href="{{ 'inferno.scss.css' | asset_url }}">
  <noscript>
    {{ 'inferno-vendor.scss.css' | asset_url | stylesheet_tag }}
    {{ 'inferno.scss.css' | asset_url | stylesheet_tag }}
  </noscript>

	<script>
    document.documentElement.className = document.documentElement.className.replace('no-js', '');

    window.theme = {
      strings: {
        addToCart: {{ 'products.product.add_to_cart' | t | json }},
        soldOut: {{ 'products.product.sold_out' | t | json }},
        comingSoon: {{ 'products.product.coming_soon' | t | json }},
        unavailable: {{ 'products.product.unavailable' | t | json }}
      },
      moneyFormat: {{ shop.money_format | json }}
    };
  </script>

  {{ content_for_header }}

  {% if template contains 'customers' %}
    <script src="{{ 'shopify_common.js' | shopify_asset_url }}" defer="defer"></script>
  {% endif %}

  <script src="{{ 'vendor.js' | asset_url }}"></script>
  <script src="{{ 'theme.js' | asset_url }}"></script>

  <script src="{{ 'api.jquery.js' | shopify_asset_url }}" defer="defer"></script>

  {% include 'WAM--head' %}

</head>

<body id="{{ page_title | handle }}" class="template-{{ template.name | handle }}">

  <a class="in-page-link visually-hidden skip-link" href="#MainContent">{{ 'general.accessibility.skip_to_content' | t }}</a>

  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "Organization",
      "name": "{{ shop.name }}",
      {% if section.settings.logo %}
        {% assign image_size = section.settings.logo.width | append:'x' %}
        "logo": "https:{{ section.settings.logo | img_url: image_size }}",
      {% endif %}
      "sameAs": [
        "{{ settings.social_twitter_link }}",
        "{{ settings.social_facebook_link }}",
        "{{ settings.social_pinterest_link }}",
        "{{ settings.social_instagram_link }}",
        "{{ settings.social_tumblr_link }}",
        "{{ settings.social_snapchat_link }}",
        "{{ settings.social_youtube_link }}",
        "{{ settings.social_vimeo_link }}"
      ],
      "url": "{{ shop.url }}{{ page.url }}"
    }
  </script>
  {% if template.name == 'index' %}
    <script type="application/ld+json">
      {
        "@context": "http://schema.org",
        "@type": "WebSite",
        "name": "{{ shop.name }}",
        "potentialAction": {
          "@type": "SearchAction",
          "target": "{{ shop.url }}/search?q={search_term_string}",
          "query-input": "required name=search_term_string"
        },
        "url": "{{ shop.url }}{{ page.url }}"
      }
    </script>
  {% endif %}

  {% include 'WAM--body' %}

  <div id="container-header">

    {% section 'notification' %}

    {% section 'navigation' %}
    <div id="shopify-section-header">
      {% include 'header' %}
    </div>

    {% section 'mobile-nav' %}

    {% include 'pro-message' %}
  </div>

  {% section 'search-input' %}

  {% if settings.cartdropdown == 'flyout' %}
    {% section 'slide-cart' %}
  {% endif %}

  {% unless request.page_type == 'index' 
    or request.page_type == 'product' 
    or request.page_type == 'collection' 
    or request.page_type contains 'customers/' 
    or request.page_type == 'blog' 
    or request.page_type == 'article' 
    or template == 'page.ambassadors'
    or template == 'page.team'
    or template == 'page.about' %}

      {% section 'header-bg' %}
  {% endunless %}
  

  <div id="sticky-anchor"></div>

  <main role="main" id="MainContent">
    {{ content_for_layout }}
  </main>

  {% section 'footer' %}

</body>
</html>
