{% if page.content != blank %}
  <div class="full-width">
    <div class="container">
      <div class="row">
        <article class="col-lg-30 offset-lg-15 col-md-40 offset-md-10">
          <div class="rte">
            {%- assign start_title = page.content | slice: 0, 3 -%}
            {% if start_title contains 'h1' %}
              {%- assign page_title = page.content | split: '</h1>' -%}
              {{ page_title[1] }}
            {% else %}
              {{ page.content }}
            {% endif %}
          </div>
        </article>
      </div>
    </div>
  </div>
{% endif %}

{% for block in section.blocks %}
{% capture block_style_desktop %}
  {% if block.settings.ptop != blank %}
    padding-top: {{ block.settings.ptop }}px;
  {% endif %}

  {% if block.settings.pbottom != blank %}        
    padding-bottom : {{ block.settings.pbottom }}px;
  {% endif %}

  {% if block.settings.background_color != blank %}
    background-color: {{ block.settings.background_color }};
  {% endif %}
{% endcapture %}

{% capture block_style_mobile %}
  {% if block.settings.ptop_mob != blank %}
  padding-top: {{ block.settings.ptop_mob }}px; 
  {% endif %}

  {% if block.settings.pbottom_mob != blank %}
  padding-bottom: {{ block.settings.pbottom_mob }}px;
  {% endif %}
{% endcapture %}

<style>
  {% if block_style_desktop != blank %}
    {% if block.settings.background_color_type == 'full_width' %}
    #block--{{ block.id }} {
      {{ block_style_desktop }}
    }
    {% elsif block.settings.background_color_type == 'container' %}
      #block--{{ block.id }} .contents {
        {{ block_style_desktop }}
      }
    {% endif %}
  {% endif %}

  @media (max-width: 767px) {
    {% if block_style_mobile != blank %}
      {% if block.settings.background_color_type == 'full_width' %}
      #block--{{ block.id }} {
        {{ block_style_mobile }}
      }
      {% elsif block.settings.background_color_type == 'container' %}
      #block--{{ block.id }} .contents {
        {{ block_style_mobile }}
      }
      {% endif %}
    {% endif %}
  }
</style>

  {% case block.type %}
    {% when 'heading_row' %}

      <div id="block--{{ block.id }}" class="full-width full-{{ block.type }}">
        <div class="contents {{ block.settings.contained }}">
          <div class="row row-{{ block.type }} align-items-center">

            {% capture image_part %}
            <div class="col-md-{{ block.settings.image_text_ratio }} image image-right">
              {% include 'image', file: block.settings.image, default_size: '650x550', alt: block.settings.image.alt | escape %}
            </div>
            {% endcapture %}

            {% capture text_part %}
            <div class="col-md-{{ 60 | minus: block.settings.image_text_ratio }} texts text-{{ block.settings.text_align }}">
              <div class="offset-md-{{ block.settings.text_offset_left }}  col-md-{{ block.settings.text_width }}">
                {% if block.settings.pretitle != blank %}
                  {% if block.settings.pretitle_size != blank %}
                    <style>
                      #block--{{ block.id }} .pretitle {
                        {% if block.settings.pretitle_siz != blank %}
                          font-size: {{ block.settings.pretitle_size }}px;
                        {% endif %}
                        {% if block.settings.pretitle_color != blank %}
                          color: {{ block.settings.pretitle_color }};
                        {% endif %}
                      }
                    </style>
                  {% endif %}

                  <h6 class="pretitle">{{ block.settings.pretitle }}</h6>
                {% endif %}

                {% if block.settings.title != blank %}
                  <style>
                  #block--{{ block.id }} .title {
                    {% if block.settings.title_size != blank %}
                      font-size: {{ block.settings.title_size }}px;
                    {% endif %}
                    {% if block.settings.title_color != blank %}
                      color: {{ block.settings.title_color }};
                    {% endif %}
                    {% if block.settings.title_margin_bottom != blank %}
                      margin-bottom: {{ block.settings.title_margin_bottom }}px;
                    {% endif %}
                  }
                  </style>
                  <h2 class="h3 title">{{ block.settings.title }}</h2>
                {% endif %}

                {% if block.settings.content != blank %}
                  <style>
                    #block--{{ block.id }} .content {
                      {% if block.settings.content_size != blank %}
                        font-size: {{ block.settings.content_size }}px;
                      {% endif %}
                      {% if block.settings.content_color != blank %}
                        color: {{ block.settings.content_color }};
                      {% endif %}
                    }
                  </style>
                  <div class="content">
                    {{ block.settings.content }}
                  </div>
                {% endif %}
              </div>
            </div>
            {% endcapture %}

            {% if block.settings.layout == 'left' %}
              {{ image_part }}
            {% endif %}

            {{ text_part }}

            {% if block.settings.layout == 'right' %}
              {{ image_part }}
            {% endif %}

          </div>  
        </div>
      </div>

    {% when 'bullet_row' %}
      <div class="full-width full-{{ block.type }}">
        <div class="contents container">
          <div class="row row-{{ block.type }}">
            <div class="col-md-20 text-center">
              <i class="fa {{ block.settings.icon_one }}"></i>
              <h3>{{ block.settings.title_one }}</h3>
              {{ block.settings.content_one }}
            </div>
            <div class="col-md-20 text-center">
              <i class="fa {{ block.settings.icon_two }}"></i>
              <h3>{{ block.settings.title_two }}</h3>
              {{ block.settings.content_two }}
            </div>
            <div class="col-md-20 text-center">
              <i class="fa {{ block.settings.icon_three }}"></i>
              <h3>{{ block.settings.title_three }}</h3>
              {{ block.settings.content_three }}
            </div>
          </div>
        </div>
      </div>

    {% when 'full_text' %}
      <div id="block--{{ block.id }}" class="full-width full-{{ block.type }}">
        <div class="contents container">
          <div class="row row-{{ block.type }}">
            <div class="col-lg-40 offset-lg-10 col-md-50 offset-md-5">
              {% if block.settings.title != blank %}
                <style>
                  #block--{{ block.id }} h1 {
                    {% if block.settings.title_size != blank %}
                      font-size: {{ block.settings.title_size }}px;
                    {% endif %}
                    {% if block.settings.title_color != blank %}
                      color: {{ block.settings.title_color }};
                    {% endif %}
                    {% if block.settings.title_margin_bottom != blank %}
                      margin-bottom: {{ block.settings.title_margin_bottom }}px;
                    {% endif %}
                    {% if block.settings.title_align != blank %}
                      text-align: {{ block.settings.title_align }};
                    {% endif %}
                  }
                </style>
                <h1>{{ block.settings.title }}</h1>
              {% endif %}

              <style>
                #block--{{ block.id }} .description {
                  {% if block.settings.content_size != blank %}
                    font-size: {{ block.settings.content_size }}px;
                  {% endif %}
                  {% if block.settings.content_color != blank %}
                    color: {{ block.settings.content_color }};
                  {% endif %}
                  {% if block.settings.content_align != blank %}
                    text-align: {{ block.settings.content_align }};
                  {% endif %}
                }
              </style>

              <div class="description">
                {{ block.settings.content }}
              </div>
            </div>
          </div>
        </div>
      </div>

    {% when 'full_image' %}
      <div id="block--{{ block.id }}" class="full-image">
        <div class="contents {{ block.settings.contained }}">
          <div class="full-width full-{{ block.type }}">
            <img 
              {% if block.settings.image_mobile != blank %}class="desktop-only"{% endif %} 
              src="{{ block.settings.image | img_url: '1500x' }}" alt="{{ block.settings.image.alt }}" />
            {% if block.settings.image_mobile != blank %}
              <img class="mobile-only" src="{{ block.settings.image_mobile | img_url: 'master' }}" alt="{{ block.settings.image.alt }}" />
            {% endif %}
          </div>
        </div>
      </div>

    {% when 'pull_quote' %}
      <div class="full-width full-{{ block.type }}">
        <div class="contents container">
          <div class="row row-{{ block.type }} align-items-center">
            {% if block.settings.image != blank %}
              <div class="col-md-30">
                <img src="{{ block.settings.image | img_url: '650x' }}" alt="{{ block.settings.image.alt }}" />
              </div>
              <div class="col-md-25 offset-md-5">
            {% else %}
              <div class="col-lg-40 offset-lg-10 col-md-50 offset-md-5 text-center">
            {% endif %}
              <div class="border-lr">
                <blockquote>"{{ block.settings.quote }}"</blockquote>
              </div>
              {% if block.settings.quotee != blank %}
                <cite>- {{ block.settings.quotee }}</cite>
              {% endif %}
            </div>
          </div>
        </div>
      </div>

    {% when 'content_row' %}
      <div class="full-width full-{{ block.type }}">
        <div class="contents container">
          <div class="row row-{{ block.type }}">
            <div class="col-md-35">
              {% if block.settings.subtitle != blank %}
                <h4><i>{{ block.settings.subtitle }}</i></h4>
              {% endif %}
              {% if block.settings.title != blank %}
                <h2>{{ block.settings.title }}</h2>
                <hr />
              {% endif %}
              <div class="rte">
                {{ block.settings.content }}
              </div>
            </div>
            <div class="col-md-20 offset-md-5">
              {% if block.settings.sidebar_image != blank %}
                <a href="{{ block.settings.sidebar_url }}"><img src="{{ block.settings.sidebar_image | img_url: '650x550' }}" alt="{{ block.settings.image.alt }}" /></a>
              {% endif %}
              {% if block.settings.sidebar_text != blank %}
              <div class="rte">
                {{ block.settings.sidebar_text }}
              </div>
              {% endif %}
              {% if block.settings.sidebar_btn != blank %}
                <a class="btn" href="{{ block.settings.sidebar_url }}">{{ block.settings.sidebar_btn }}</a>
              {% endif %}
            </div>
          </div>
        </div>
      </div>

  {% endcase %}
{% endfor %}
{% if section.blocks.size == 0 %}
  <div class="container">
    <div class="row row-{{ block.type }}{% if block.type == 'heading_row' %} align-items-center{% endif %}">
      {% include 'no-blocks' %}
    </div>
  </div>
{% endif %}

{% schema %}
  {
    "name": "About Us",
    "class": "about-us-container",
    "settings": [
    ],
    "blocks": [
      {
        "type": "heading_row",
        "name": "50/50 Image/Short",
        "settings": [
{
  "type": "header",
  "content": "Spacing"
},
{
  "type": "range",
  "id": "ptop",
  "label": "Top spacing desktop",
  "min": 0,
  "unit": "px",
  "max": 500,
  "step": 5,
  "default": 15
},
{
  "type": "range",
  "id": "pbottom",
  "label": "Bottom spacing desktop",
  "min": 0,
  "unit": "px",
  "max": 500,
  "step": 5,
  "default": 15
},
{
  "type": "range",
  "id": "ptop_mob",
  "label": "Top spacing mobile",
  "min": 0,
  "unit": "px",
  "max": 500,
  "step": 5,
  "default": 5
},
{
  "type": "range",
  "id": "pbottom_mob",
  "label": "Bottom spacing mobile",
  "min": 0,
  "unit": "px",
  "max": 500,
  "step": 5,
  "default": 5
}, 
{
  "type": "color",
  "id": "background_color",
  "label": "Background Color"
},
{
  "type": "select",
  "id": "background_color_type",
  "label": "Background Color Wide",
  "default": "full_width",
  "options": [
    {
      "value": "full_width",
      "label": "Full Width"
    },
    {
      "value": "container",
      "label": "Container"
    }
  ]
},

        {
          "type": "radio",
          "id": "contained",
          "label": "Slideshow should:",
          "options": [
            { "value": "container", "label": "Contstrain to container" },
            { "value": "container-fluid", "label": "Flow to the width of screen" }
          ],
          "default": "container"
        },
        {
          "type": "header",
          "content": "Contents"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "select",
          "id": "layout",
          "label": "Layout",
          "default": "left",
          "options": [
            {
              "value": "left",
              "label": "Image on left"
            },
            {
              "value": "right",
              "label": "Image on right"
            }
          ]
        },
  {
    "type": "range",
    "id": "image_text_ratio",
    "label": "Image : Texts (Ratio)",
    "min": 1,
    "max": 59,
    "step": 1,
    "default": 30
  }, 

        {
          "type": "header",
          "content": "Texts"
        },
        {
          "type": "select",
          "id": "text_align",
          "label": "Text align",
          "default": "left",
          "options": [
            {
              "value": "left",
              "label": "Left"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "right",
              "label": "Right"
            }
          ]
        },
        {
          "type": "range",
          "id": "text_width",
          "label": "Text Width",
          "min": 1,
          "max": 60,
          "step": 1,
          "default": 60
        }, 

        {
          "type": "range",
          "id": "text_offset_left",
          "label": "Text Offset Left",
          "min": 0,
          "max": 30,
          "step": 1,
          "default": 0
        },


{
  "type": "text",
  "id": "pretitle",
  "label": "Pretitle"
},
{
  "type": "range",
  "id": "pretitle_size",
  "label": "Font size",
  "min": 10,
  "max": 100,
  "step": 1,
  "default": 17
},
{
  "type": "color",
  "id": "pretitle_color",
  "label": "Color"
},

{
  "type": "text",
  "id": "title",
  "label": "Title"
},
{
  "type": "range",
  "id": "title_size",
  "label": "Font size",
  "min": 10,
  "max": 100,
  "step": 1,
  "default": 32
},
{
  "type": "range",
  "id": "title_margin_bottom",
  "label": "Margin bottom",
  "min": 0,
  "max": 50,
  "step": 1,
  "default": 15
},
{
  "type": "color",
  "id": "title_color",
  "label": "Color"
},
          
{
  "type": "richtext",
  "id": "content",
  "label": "Content"
},
{
  "type": "range",
  "id": "content_size",
  "label": "Font size",
  "min": 10,
  "max": 100,
  "step": 1,
  "default": 16
},
{
  "type": "color",
  "id": "content_color",
  "label": "Color"
}

          
        ]
      },
      {
        "type": "full_text",
        "name": "Text Only",
        "settings": [
          {
            "type": "header",
            "content": "Spacing"
          },
          {
            "type": "range",
            "id": "ptop",
            "label": "Top spacing desktop",
            "min": 0,
            "unit": "px",
            "max": 500,
            "step": 5,
            "default": 15
          },
          {
            "type": "range",
            "id": "pbottom",
            "label": "Bottom spacing desktop",
            "min": 0,
            "unit": "px",
            "max": 500,
            "step": 5,
            "default": 15
          },
          {
            "type": "range",
            "id": "ptop_mob",
            "label": "Top spacing mobile",
            "min": 0,
            "unit": "px",
            "max": 500,
            "step": 5,
            "default": 5
          },
          {
            "type": "range",
            "id": "pbottom_mob",
            "label": "Bottom spacing mobile",
            "min": 0,
            "unit": "px",
            "max": 500,
            "step": 5,
            "default": 5
          }, 
          {
            "type": "color",
            "id": "background_color",
            "label": "Background Color"
          },
          {
            "type": "select",
            "id": "background_color_type",
            "label": "Background Color Wide",
            "default": "full_width",
            "options": [
              {
                "value": "full_width",
                "label": "Full Width"
              },
              {
                "value": "container",
                "label": "Container"
              }
            ]
          },
          {
            "type": "header",
            "content": "Contents"
          },
          {
            "type": "text",
            "id": "title",
            "label": "Title"
          },
          {
            "type": "range",
            "id": "title_size",
            "label": "Font size",
            "min": 10,
            "max": 100,
            "step": 1,
            "default": 32
          },
          {
            "type": "select",
            "id": "title_align",
            "label": "Text align",
            "default": "center",
            "options": [
                {
                "value": "left",
                "label": "Left"
                },
                {
                "value": "center",
                "label": "Center"
                },
                {
                "value": "right",
                "label": "Right"
                }
            ]
        },
        

          {
            "type": "range",
            "id": "title_margin_bottom",
            "label": "Margin bottom",
            "min": 0,
            "max": 50,
            "step": 1,
            "default": 15
          },
          {
            "type": "color",
            "id": "title_color",
            "label": "Color"
          },
          
          {
            "type": "richtext",
            "id": "content",
            "label": "Content"
          },
          {
            "type": "range",
            "id": "content_size",
            "label": "Font size",
            "min": 10,
            "max": 100,
            "step": 1,
            "default": 16
          },
          {
            "type": "select",
            "id": "content_align",
            "label": "Text align",
            "default": "center",
            "options": [
                {
                "value": "left",
                "label": "Left"
                },
                {
                "value": "center",
                "label": "Center"
                },
                {
                "value": "right",
                "label": "Right"
                }
            ]
        },
          {
            "type": "color",
            "id": "content_color",
            "label": "Color"
          }



        ]
      },
      {
        "type": "full_image",
        "name": "Image Only",
        "settings": [
        {
          "type": "header",
          "content": "Spacing"
        },
        {
          "type": "range",
          "id": "ptop",
          "label": "Top spacing desktop",
          "min": 0,
          "unit": "px",
          "max": 500,
          "step": 5,
          "default": 15
        },
        {
          "type": "range",
          "id": "pbottom",
          "label": "Bottom spacing desktop",
          "min": 0,
          "unit": "px",
          "max": 500,
          "step": 5,
          "default": 15
        },
        {
          "type": "range",
          "id": "ptop_mob",
          "label": "Top spacing mobile",
          "min": 0,
          "unit": "px",
          "max": 500,
          "step": 5,
          "default": 5
        },
        {
          "type": "range",
          "id": "pbottom_mob",
          "label": "Bottom spacing mobile",
          "min": 0,
          "unit": "px",
          "max": 500,
          "step": 5,
          "default": 5
        }, 
        {
          "type": "color",
          "id": "background_color",
          "label": "Background Color"
        },
        {
          "type": "select",
          "id": "background_color_type",
          "label": "Background Color Wide",
          "default": "full_width",
          "options": [
            {
              "value": "full_width",
              "label": "Full Width"
            },
            {
              "value": "container",
              "label": "Container"
            }
          ]
        },
        {
          "type": "radio",
          "id": "contained",
          "label": "Slideshow should:",
          "options": [
            { "value": "container", "label": "Contstrain to container" },
            { "value": "container-fluid", "label": "Flow to the width of screen" }
          ],
          "default": "container"
        },

          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
            "type": "image_picker",
            "id": "image_mobile",
            "label": "Image Mobile"
          }
          
        ]
      },


      {
        "type": "bullet_row",
        "name": "Quick Info Bullets",
        "settings": [
          {
            "type": "text",
            "id": "icon_one",
            "label": "Icon",
            "info": "[Click here](http:\/\/fontawesome.io\/cheatsheet\/) to view the list of available icons. Example: fa-anchor"
          },
          {
            "type": "text",
            "id": "title_one",
            "label": "Title"
          },
          {
            "type": "richtext",
            "id": "content_one",
            "label": "Content"
          },
          {
            "type": "text",
            "id": "icon_two",
            "label": "Icon",
            "info": "[Click here](http:\/\/fontawesome.io\/cheatsheet\/) to view the list of available icons. Example: fa-anchor"
          },
          {
            "type": "text",
            "id": "title_two",
            "label": "Title"
          },
          {
            "type": "richtext",
            "id": "content_two",
            "label": "Content"
          },
          {
            "type": "text",
            "id": "icon_three",
            "label": "Icon",
            "info": "[Click here](http:\/\/fontawesome.io\/cheatsheet\/) to view the list of available icons. Example: fa-anchor"
          },
          {
            "type": "text",
            "id": "title_three",
            "label": "Title"
          },
          {
            "type": "richtext",
            "id": "content_three",
            "label": "Content"
          }
        ]
      },
      {
        "type": "pull_quote",
        "name": "Pull Quote",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image",
            "info": "Optional"
          },
          {
            "type": "textarea",
            "id": "quote",
            "label": "Quote"
          },
          {
            "type": "text",
            "id": "quotee",
            "label": "Quotee"
          }
        ]
      },
      {
        "type": "content_row",
        "name": "50/50 Long Contnt/Sidebar",
        "settings": [
          {
            "type": "header",
            "content": "Long Content"
          },
          {
            "type": "text",
            "id": "title",
            "label": "Title"
          },
          {
            "type": "richtext",
            "id": "content",
            "label": "Content"
          },
          {
            "type": "header",
            "content": "Sidebar"
          },
          {
            "type": "url",
            "id": "sidebar_url",
            "label": "Link to"
          },
          {
            "type": "image_picker",
            "id": "sidebar_image",
            "label": "Image"
          },
          {
            "type": "richtext",
            "id": "sidebar_text",
            "label": "Sidebar content"
          },
          {
            "type": "text",
            "id": "sidebar_btn",
            "label": "Sidebar button text"
          }
        ]
      }
    ]
  }
{% endschema %}
