<style>
  #shopify-section-{{ section.id }} {
    {% if section.settings.ptop != blank %}
      padding-top: {{ section.settings.ptop }}px;
    {% endif %}
    {% if section.settings.pbottom != blank %}        
      padding-bottom : {{ section.settings.pbottom }}px;
    {% endif %}
    {% if section.settings.background_color != blank %}
      background-color: {{ section.settings.background_color }};
    {% endif %}
  }
  @media (max-width: 767px) {
    #shopify-section-{{ section.id }} {
      {% if section.settings.ptop_mob != blank %}
      padding-top: {{ section.settings.ptop_mob }}px; 
      {% endif %}
      {% if section.settings.pbottom_mob != blank %}
      padding-bottom: {{ section.settings.pbottom_mob }}px;
      {% endif %}
    }
  }
  #shopify-section-{{ section.id }} h1.title{
    color: {{ section.settings.title_color }};
  }
  </style>

<div class="header-image accountheader{% if section.settings.image != blank %} image-bar__overlay{% else %} minimal{% endif %}">
  <div class="header-image--text">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-30">
          <h1 class="title">{{ 'customer.account.title' | t }}</h1>
        </div>
        <div class="col-lg-30 text-right">
          {{ 'layout.customer.log_out' | t | customer_logout_link }}
        </div>
      </div>
    </div>
  </div>
</div>
<div class="account">
  <div class="container">
    <div id="customer_info" class="row">
      <div class="col-md-29 item">
        <h5 class="item_title">{{ 'customer.account.email' | t }}</h5>
        <p>{{ customer.email }}</p>
      </div>
      <div class="offset-md-2 col-md-29 item">
        <h5 class="item_title">{{ 'customer.account.shiping_address' | t }}</h5>
        <p>
          {{ customer.default_address.address1 }} <br>
          {{ customer.default_address.address2 }} <br>
          {{ customer.default_address.city }}, {{ customer.default_address.province_code }} {{ customer.default_address.zip }}
        </p>
      </div>
    </div>

    <div id="order_history" class="row">
      <div class="col-md-60 rte">
        <h1 class="title">{{ 'customer.orders.title' | t }}</h1>

        {% paginate customer.orders by 20 %}
          {% if customer.orders.size != 0 %}

            {% include 'order-history' %}

          {% else %}

            <p>{{ 'customer.orders.none' | t }}</p>

          {% endif %}

          {% if paginate.pages > 1 %}
            {% include 'pagination' %}
          {% endif %}

        {% endpaginate %}

      </div>

      {% comment %}
      <div class="col-md-20 rte">
        <h2>{{ 'customer.account.details' | t }}</h2>

        {{ customer.default_address | format_address }}

        <p><a href="/account/addresses" class="btn btn--small">{{ 'customer.account.view_addresses' | t }} ({{ customer.addresses_count }})</a></p>
      </div>
      {% endcomment %}

    </div>
  </div>
</div>

{% if section.settings.image != blank %}
  {%- assign header_image_std = section.settings.image | img_url: '2400x' -%}
  {%- assign header_image_desktop = section.settings.image | img_url: '1500x' -%}
  {%- assign header_image_tablet = section.settings.image | img_url: '1000x' -%}
  {%- assign header_image_mobile = section.settings.image | img_url: '600x' -%}
  <style>
    .header-image {
      background-image: url('{{ header_image_std }}');
    }
    @media screen and (max-width: 1024px) {
      .header-image {
        background-image: url('{{ header_image_desktop }}');
      }
    }
    @media screen and (max-width: 768px) {
      .header-image {
        background-image: url('{{ header_image_tablet }}');
      }
    }
    @media screen and (max-width: 425px) {
      .header-image {
        background-image: url('{{ header_image_mobile }}');
      }
    }
  </style>
{% endif %}

{% schema %}
  {
    "name": "Account Page",
    "class": "account-page-container",
    "settings": [
      {
        "type": "header",
        "content": "Header"
      },
      {
        "type": "header",
        "content": "Spacing"
      },
      {
        "type": "range",
        "id": "ptop",
        "label": "Top spacing desktop",
        "min": 0,
        "unit": "px",
        "max": 500,
        "step": 5,
        "default": 15
      },
      {
        "type": "range",
        "id": "pbottom",
        "label": "Bottom spacing desktop",
        "min": 0,
        "unit": "px",
        "max": 500,
        "step": 5,
        "default": 15
      },
      {
        "type": "range",
        "id": "ptop_mob",
        "label": "Top spacing mobile",
        "min": 0,
        "unit": "px",
        "max": 500,
        "step": 5,
        "default": 5
      },
      {
        "type": "range",
        "id": "pbottom_mob",
        "label": "Bottom spacing mobile",
        "min": 0,
        "unit": "px",
        "max": 500,
        "step": 5,
        "default": 5
      }, 
      {
        "type": "color",
        "id": "title_color",
        "label": "Title Color",
        "default": "#999999"
      },
      {
        "type": "image_picker",
        "id": "image",
        "label": "Header Image",
        "info": "Leave blank to just use text"
      },
      {
        "type": "header",
        "content": "Reordering"
      },
      {
        "type": "textarea",
        "id": "reordernote",
        "label": "Reorder Note",
        "default":"*** To reorder a terms order, please find the link in the submission below."
      }
    ]
  }
{% endschema %}
