<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "NewsArticle",
    "mainEntityOfPage": {
      "@type": "WebPage",
      "@id": "{{ shop.url }}{{ article.url }}"
    },
    "headline": "{{ article.title }}",
    "image": [
      "https:{{ article.image.src | img_url: 'original' }}"
    ],
    "datePublished": "{{ article.published_at }}",
    "dateModified": "{{ article.published_at | date: "%Y-%m-%dT%H:%M:%SZ" }}",
    "author": {
      "@type": "Person",
      "name": "{{ article.author }}"
    },
     "publisher": {
      "@type": "Organization",
      "name": "{{ shop.name }}",
      "logo": {
        "@type": "ImageObject",
        "url": "https:{{ settings.logo | img_url: 'original' }}"
      }
    },
    "description": "{{ article.excerpt_or_content | strip_html | truncatewords: 100 | escape }}"
  }
</script>

<article class="container" itemscope itemtype="http://schema.org/Article">
  <div class="row">
    <div class="col-xl-40 offset-xl-10 col-lg-48 offset-lg-6">
      <div class="rte">
        {{ article.content }}
      </div>

      {% if section.settings.show_share_buttons %}
        {% include 'social-sharing', share_title: article.title, share_permalink: article.url, share_image: article.image %}
      {% endif %}

    </div>
  </div>

  {% if blog.previous_article or blog.next_article %}
    <div class="row article--siblings">
      <!-- START post article BAR -->
      <div class="col-xl-40 offset-xl-10 col-lg-48 offset-lg-6">
        <h3>Additional Articles</h3>
        <div class="row">
          {% if blog.previous_article %}
            {%- assign prev_article_location = blog.previous_article | remove: '/blogs/' -%}
            {%- assign prev_article = articles[prev_article_location] -%}
            <div class="prev-prod col-md-28 col-xs-60">
              <a href="{{ prev_article.url }}">
                <div class="sustainable-repeater">
                  <div class="half-top {{ prev_article.handle }}" style="{% if prev_article.image %}background-image:url('{{ prev_article | img_url: 'original' }}');{% else %}background-color:#d8d7d3;{%endif%}width:100%;background-size:cover;height:300px"></div>
                  <p>Previous Article</p>
                  <h4>{{ prev_article.title | truncatewords: 10 }}</h4>
                  <div class="btnholder">
                    <span class="btn btn--secondary btn--has-icon-before return-link" href="{{ prev_article.url }}">{{ 'blogs.article.read_more' | t }}</span>
                  </div>
                </div>
              </a>
            </div>
          {% endif %}

          {% if blog.next_article %}
          {%- assign next_article_location = blog.previous_article | remove: '/blogs/' -%}
          {%- assign next_article = articles[next_article_location] -%}
            <div class="prev-prod col-md-28 offset-md-4 col-xs-60">
              <a href="{{ next_article.url }}">
                <div class="sustainable-repeater">
                  <div class="half-top {{ next_article.handle }}" style="{% if next_article.image %}background-image:url('{{ next_article | img_url: 'original' }}');{% else %}background-color:#d8d7d3;{%endif%}width:100%;background-size:cover;height:300px"></div>
                  <p>Next Article</p>
                  <h4>{{ next_article.title | truncatewords: 10 }}</h4>
                  <div class="btnholder">
                    <span class="btn btn--secondary btn--has-icon-before return-link" href="{{ next_article.url }}">{{ 'blogs.article.read_more' | t }}</span>
                  </div>
                </div>
              </a>
            </div>
          {% endif %}
        </div>
      </div>
      <!-- END post article BAR -->
    </div>
  {% endif %}
</article>

{% schema %}
  {
    "name": "Article Settings",
    "settings": [
      {
        "type": "checkbox",
        "id": "blog_show_author",
        "label": "Show author",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "blog_show_date",
        "label": "Show date",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "show_share_buttons",
        "label": "Show social sharing buttons",
        "default": true
      }
    ]
  }
{% endschema %}
