{% paginate blog.articles by 12 %}

<div class="container">
  <header class="section-header text-center">
    <h1>{{ page_title }}</h1>
  </header>
</div>

<section id="blog">
  <div class="container">
    <div class="row grid--blog">
      {% for article in blog.articles %}
      <div class="{% if section.settings.enable_sidebar %}col-xl-20 col-lg-30{% else %}col-xl-15 col-lg-20 col-md-30{% endif %}">
        {% if article.image %}
        <a href="{{ article.url }}" class="article__list-image" style="background-image:url({{ article.image.src | img_url: '345x' }})"></a>
        {% endif %}

        <div class="article__grid-meta{% if article.image %} article__grid-meta--has-image{% endif %}">
          <h2 class="article__title h3">
            <a href="{{ article.url }}">{{ article.title }}</a>
          </h2>

          {% if section.settings.blog_show_author %}
          <span class="article__author">{{ 'blogs.article.by_author' | t: author: article.author }}</span>
          {% endif %}

          {% if section.settings.blog_show_date %}
          <span class="article__date">
            {{ article.published_at | time_tag: format: 'month_day_year' }}
          </span>
          {% endif %}

          <div class="rte article__grid-excerpt">
            {% if article.excerpt.size > 0 %}
            {{ article.excerpt }}
            {% else %}
            {{ article.content | strip_html | truncate: 150 }}
            {% endif %}
          </div>

          {% if article.tags.size > 0 %}
          <div class="article__tags rte">
            {% for tag in article.tags %}
            <a href="{{ blog.url }}/tagged/{{ tag | handle }}" class="article__grid-tag">{{ tag }}</a>
            {% endfor %}
          </div>
          {% endif %}

          <ul class="list--inline">
            <li>
              <a href="{{ article.url }}" class="btn btn--small">
                {{ 'blogs.article.read_more' | t }}
              </a>
            </li>

            {% if blog.comments_enabled? and article.comments_count > 0 %}
            <li>
              <a href="{{ article.url }}#comments" class="btn btn--secondary btn--small btn--link">
                {{ 'blogs.comments.comments_with_count' | t: count: article.comments_count }}
              </a>
            </li>
            {% endif %}
          </ul>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
  {% if paginate.pages > 1 %}
    {% include 'pagination' %}
  {% endif %}
</section>

{% endpaginate %}

{% schema %}
  {
    "name": "Blog pages",
    "settings": [
      {
        "type": "checkbox",
        "id": "blog_show_author",
        "label": "Show author",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "blog_show_date",
        "label": "Show date",
        "default": true
      }
    ]
  }
{% endschema %}
