
{% if section.settings.layout == 'grid' %}
	{%- assign grid = section.settings.grid | times: 1 -%}
	{%- assign rows = section.settings.rows | times: 1 -%}
	{%- assign limitstart = grid| times: rows -%}

	{%- assign limit = grid | times: rows -%}
{% else %}
		{%- assign limit = 42 -%}
{% endif %}

<style>
  {% if section.settings.variant_swatch_position == 'below_title' %}
  .variant_swiatch_container.above_title {
    display: none;
  }
  {% endif %}
  {% if section.settings.variant_swatch_position == 'above_title' %}
  .variant_swiatch_container.below_title {
    display: none;
  }
  {% endif %}
</style>

{% include 'collection-price-filter_script' %}

<div data-section-id="{{ section.id }}" data-section-type="collection-template">
  <header class="collection-header">
    {% if section.settings.enable_toolbar %}
      {% style %}
      .collection-topbar {
        background-color: {{ section.settings.toolbar_color }};
        text-align: center;
        padding: 20px 0;
      }
      {% endstyle %}
      <div class="collection-topbar">
        {{ section.settings.toolbar_richtext }}
      </div>
    {% endif %}

    {% assign enable_title = true %}
    {% assign collection_description = collection.description %}
    {% if collection.description != blank and collection.description contains '<h6>no title</h6>' %}
      {% assign enable_title = false %}
      {% assign collection_description = collection.description | remove: '<h6>no title</h6>' %}
    {% endif %}

    {% if section.settings.show_collection_image and collection.image %}
      {% assign image_alt = collection.image.alt | downcase %}
      {% if image_alt == 'no title' %}
        <style>
          .collection-hero__title-wrapper {
            display: none!important;
          }
        </style>
      {% endif %}

      <div class="collection-hero">
        <style>
          .collection-hero__image {
            background-position: 50% 50%;
            background-repeat: no-repeat;
            background-size: cover;
            opacity: 1;

            {% capture img_width %}{{ collection.image.width }}{% endcapture %}
            {% capture img_height %}{{ collection.image.height | times: 100 }}{% endcapture %}
            {% capture rounddown %}{{ img_height | divided_by: img_width }}{% endcapture %}
            padding-top: {{ rounddown | plus: 1 }}%;

            background-image: url({{ collection.image | img_url: '1600x' }});
          }

          @media only screen and (max-width: 1200px) {
            .collection-hero__image {
              background-image:url('{{ collection.image | img_url: '1280x' }}'); 
            }
          }
          @media only screen and (max-width: 992px) {
            .collection-hero__image {
              background-image:url('{{ collection.image | img_url: '992x' }}'); 
            }
          }
          @media only screen and (max-width: 768px) {
            .collection-hero__image {
              background-image:url('{{ collection.image | img_url: '768x' }}'); 
            }
          }
          @media only screen and (max-width: 576px) {
            .collection-hero__image {
              background-image:url('{{ collection.image| img_url: '576x' }}'); 
            }
          }
        </style>
     
        <div class="collection-hero__image">
          {% if enable_title == true %}
            <div class="collection-hero__title-wrapper container">
              <h1 class="collection-hero__title page-width">{{ collection.title }}</h1>
            </div>
          {% endif %}
        </div>
      </div>

      {% if collection_description != blank %}
        <div class="rte collection-description container">
          {{ collection_description }}
        </div>
      {% endif %}
    {% else %}
      <div class="collection-title container">
        {% if enable_title == true %}
        <h1 class="text-center">{{ collection.title }}</h1>
        {% endif %}
        {% if collection_description != blank %}
          <div class="rte">
            {{ collection_description }}
          </div>
        {% endif %}
      </div>
    {% endif %}

      {% if section.settings.tags_enable or section.settings.sort_enable %}
        <div class="filters-toolbar-wrapper">
          <div class="container">
            <div class="row filters-toolbar">

              <div class="col" style="display:none;">
                <label for="SortTags" class="label--hidden hide">{{ 'collections.filters.title_tags' | t }}</label>
                <select class="filters-toolbar__input filters-toolbar__input--filter" name="SortTags" id="SortTags">
                  {% if current_tags %}
                    {% if collection.handle %}
                      <option value="/collections/{{ collection.handle }}">{{ 'collections.filters.all_tags' | t }}</option>
                    {% elsif collection.current_type %}
                      <option value="{{ collection.current_type | url_for_type }}">{{ 'collections.filters.all_tags' | t }}</option>
                    {% elsif collection.current_vendor %}
                      <option value="{{ collection.current_vendor | url_for_vendor }}">{{ 'collections.filters.all_tags' | t }}</option>
                    {% endif %}
                  {% else %}
                    {% if current_tags contains tag %}
                      <option value="">{{ 'collections.filters.all_tags' | t }}</option>{% endif %}
                  {% endif %}
                  {% for tag in collection.all_tags %}
                    <option value="{{ tag | handleize }}">{{ tag }}</option>
                  {% endfor %}
                </select>
              </div>
              
              {% comment %}
              <div class="col filters-toolbar__item--count{% if section.settings.tags_enable == false and section.settings.sort_enable %} text-left{% endif %}{% if section.settings.tags_enable and section.settings.sort_enable == false %} text-right{% endif %}">
                <span class="filters-toolbar__product-count">{{ 'collections.general.items_with_count' | t: count: collection.products_count }}</span>
              </div>
              {% endcomment %}

              {% if section.settings.tags_enable %}
              <div class="col-auto">
                <span class="tag_filter_hide_button desktop-hide">Show filter</span>
                <span class="tag_filter_hide_button mobile-hide">Show filter</span>
                {% include 'icon-hide-filter' %}
              </div>
              {% endif %}

              {% if section.settings.sort_enable %}
                <div class="col-auto text-right sort-by-filter-block">
                  {%- assign sort_by = collection.sort_by | default: collection.default_sort_by -%}
                  <label for="SortBy" class="label--hidden">{{ 'collections.sorting.title' | t }}</label>
                  <select name="SortBy" id="SortBy" class="filters-toolbar__input filters-toolbar__input--sort hidden">
                    {% if sort_by == collection.default_sort_by %}
                      <option value="title-ascending" selected="selected">{{ 'collections.sorting.title' | t }}</option>
                      {% if collection.default_sort_by != 'manual' %}
                        <option value="manual"{% if sort_by == "manual" %} selected="selected"{% endif %}>{{ 'collections.sorting.featured' | t }}</option>
                      {% endif %}
                      {% if collection.default_sort_by != 'best-selling' %}
                        <option value="best-selling"{% if sort_by == "best-selling" %} selected="selected"{% endif %}>{{ 'collections.sorting.best_selling' | t }}</option>
                      {% endif %}
                      {% if collection.default_sort_by != 'title-ascending' %}
                        <option value="title-ascending"{% if sort_by == "title-ascending"  %}selected="selected"{% endif %}>{{ 'collections.sorting.az' | t }}</option>
                      {% endif %}
                      {% if collection.default_sort_by != 'title-descending' %}
                        <option value="title-descending"{% if sort_by == "title-descending" %} selected="selected"{% endif %}>{{ 'collections.sorting.za' | t }}</option>
                      {% endif %}
                      {% if collection.default_sort_by != 'price-ascending' %}
                        <option value="price-ascending"{% if sort_by == "price-ascending" %} selected="selected"{% endif %}>{{ 'collections.sorting.price_ascending' | t }}</option>
                      {% endif %}
                      {% if collection.default_sort_by != 'price-descending' %}
                        <option value="price-descending"{% if sort_by == "price-descending" %} selected="selected"{% endif %}>{{ 'collections.sorting.price_descending' | t }}</option>
                      {% endif %}
                      {% if collection.default_sort_by != 'created-descending' %}
                        <option value="created-descending"{% if sort_by == "created-descending" %} selected="selected"{% endif %}>{{ 'collections.sorting.date_descending' | t }}</option>
                      {% endif %}
                      {% if collection.default_sort_by != 'created-ascending' %}
                        <option value="created-ascending"{% if sort_by == "created-ascending" %} selected="selected"{% endif %}>{{ 'collections.sorting.date_ascending' | t }}</option>
                      {% endif %}
                    {% else %}
                      <option value="manual"{% if sort_by == "manual" %} selected="selected"{% endif %}>{{ 'collections.sorting.featured' | t }}</option>
                      <option value="best-selling"{% if sort_by == "best-selling" %} selected="selected"{% endif %}>{{ 'collections.sorting.best_selling' | t }}</option>
                      <option value="title-ascending"{% if sort_by == "title-ascending"  %}selected="selected"{% endif %}>{{ 'collections.sorting.az' | t }}</option>
                      <option value="title-descending"{% if sort_by == "title-descending" %} selected="selected"{% endif %}>{{ 'collections.sorting.za' | t }}</option>
                      <option value="price-ascending"{% if sort_by == "price-ascending" %} selected="selected"{% endif %}>{{ 'collections.sorting.price_ascending' | t }}</option>
                      <option value="price-descending"{% if sort_by == "price-descending" %} selected="selected"{% endif %}>{{ 'collections.sorting.price_descending' | t }}</option>
                      <option value="created-descending"{% if sort_by == "created-descending" %} selected="selected"{% endif %}>{{ 'collections.sorting.date_descending' | t }}</option>
                      <option value="created-ascending"{% if sort_by == "created-ascending" %} selected="selected"{% endif %}>{{ 'collections.sorting.date_ascending' | t }}</option>
                    {% endif %}
                  </select>
                  <input class="collection-header__default-sort" type="hidden" value="{{ collection.default_sort_by }}">
                </div>
              {% endif %}
            </div>
          </div>
        </div>
      {% endif %}
  </header>
 
  <div class="{{ section.settings.contained }} hide_side_filter" id="Collection">

		<div class="row">
			{% if section.settings.tags_enable %}
				<div class="col-lg-15 filter-sidebar-container">

					<div class="filters-toolbar">
            <div class="closebtn text-right d-md-none">{% include 'icon-close' %}</div>

            {% for block in section.blocks %}
              {% if block.type == 'price_filters' %}
                <div class="full sidebar-filter show button ">
                  <h5>{{ block.settings.title }}</h5>
                  <div class="collection_price_filter">
                    <div class="slider-wrapper">
                      <div class="range-wrapper">
                        <div class="range"></div>
                        <div class="range-alert">+</div>
                      </div>
                      <div id="slider-range"></div>
                      <span class="marker min_value"><sup>$</sup><span>0</span></span>
                      <span class="marker max_value"><sup>$</sup><span></span></span>
                    </div>
                  </div>
                </div>
              {% endif %}
            {% endfor %}

						<div class="filters-toolbar-placeholder"></div>
					</div>
				</div>
			{% endif %}
			<div class="{% if section.settings.tags_enable %}col{% else %}col{% endif %}">

		    {% if section.settings.layout == 'grid' %}
					<div class="row{% if collection.products_count > 0 %} grid--view-items{% endif %}">
			      {% case section.settings.grid %}
				      {% when '2' %}
				        {%- assign grid_item_width = 'col-30 col-md-30 p-item' -%}
				        {%- assign image_size = '540x600' -%}
				      {% when '3' %}
				        {%- assign grid_item_width = 'col-30 col-md-20 col-sm-30 p-item' -%}
				        {%- assign image_size = '345x550' -%}
				      {% when '4' %}
				        {%- assign grid_item_width = 'col-30 col-md-15 col-sm-30 p-item' -%}
				        {%- assign image_size = '250x' -%}
				      {% when '5' %}
				        {%- assign grid_item_width = 'col-30 col-md-12 col-sm-30 p-item' -%}
				        {%- assign image_size = '195x' -%}
			      {% endcase %}

			      {% for product in collection.products %}	
              {% capture loop_index %}{{ forloop.index }}{% endcapture %}
              {% if loop_indexes contains loop_index %}
                {% continue %}
              {% endif %}

              <div class="{{ grid_item_width }}">                
                {% include 'product-card-grid', grid_image_width: image_size %}
              </div>
	          {% else %}
              {% if collection.handle == 'all' and collection.all_vendors.size == 0 and collection.all_types.size == 0 %}
                <div class="grid__item">
                  <div class="grid grid--uniform">
                    {% for i in (1..limit) %}
                      <div class="grid__item {{ grid_item_width }}">
                        <div class="grid-view-item">
                          <a href="#" class="grid-view-item__link">
                            <div class="grid-view-item__image">
                              {% capture current %}{% cycle 1, 2, 3, 4, 5, 6 %}{% endcapture %}
                              {{ 'product-' | append: current | placeholder_svg_tag: 'placeholder-svg' }}
                            </div>
                            <div class="h4 grid-view-item__title">{{ 'homepage.onboarding.product_title' | t }}</div>
                            <div class="grid-view-item__meta">
                              <span class="product-price__price">$19.99</span>
                            </div>
                          </a>
                        </div>
                      </div>
                    {% endfor %}
                  </div>
                </div>
              {% else %}
                {%- assign is_empty_collection = true -%}
              {% endif %}
	          {% endfor %}
	        </div>
	      {% else %}
          <div class="list-view-items">
            {% for product in collection.products %}
              {% capture loop_index %}{{ forloop.index }}{% endcapture %}
              {% if loop_indexes contains loop_index %}
                {% continue %}
              {% endif %}

              <a href="{{ product.url | within: collection }}" class="list-view-item">
                {% include 'product-card-list', product: product %}
              </a>
            {% else %}
              {% if collection.handle == 'all' and collection.all_vendors.size == 0 and collection.all_types.size == 0%}
                {% for i in (1..4) %}
                  <a href="#" class="list-view-item">
                    <div class="list-view-item__image-column">
                      <div class="list-view-item__image-wrapper">
                        <div class="list-view-item__image">
                          {%- assign placeholder = 'placeholder-product-' | append: i -%}
                          {% include placeholder %}
                        </div>
                      </div>
                    </div>
                    <div class="list-view-item__title-column">
                      <div class="list-view-item__title">{{ 'homepage.onboarding.product_title' | t }}</div>
                    </div>
                    <div class="list-view-item__price-column">
                      <span class="product-price__price">$19.99</span>
                    </div>
                  </a>
                {% endfor %}
              {% else %}
                {%- assign is_empty_collection = true -%}
              {% endif %}
            {% endfor %}
          </div>
        {% endif %}

        {% if is_empty_collection %}
          <div class="col small--text-center">
            <p class="text-center">{{ 'collections.general.no_matches' | t }}</p>
          </div>
        {% endif %}
	    </div>
	  </div>

</div>


<script>
  function sidebar_sticky_relocate(){
    var width = (window.innerWidth > 0) ? window.innerWidth : screen.width;

    var window_top = $(window).scrollTop();
    var div_top = $('#Collection').offset().top;
    var height = $('.notification-bar.sticky-notification').outerHeight() + $('#header-container').outerHeight();

    if (width > 768) {
  
      let filter_sidebar = $('.filter-sidebar-container .filters-toolbar');

      if (window_top > div_top) {
        filter_sidebar.addClass('is_sticky');
        filter_sidebar.css({top: height});
      } else {
        filter_sidebar.removeClass('is_sticky');
        filter_sidebar.css({top: 0});
      }
    }

    if (width < 769) {
      let filter_toolbar_wrapper = $('.filters-toolbar-wrapper');

      var div_top = $('.collection-topbar').offset().top;
      

      if (window_top > div_top) {
        filter_toolbar_wrapper.addClass('is_sticky');
        filter_toolbar_wrapper.css({top: height});
      } else {
        filter_toolbar_wrapper.removeClass('is_sticky');
        filter_toolbar_wrapper.css({top: 0});
      }
      
    }
  }

  $(document).ready(function(){
    if (localStorage.getItem("enable_sidebar") == null) {
      localStorage.setItem("enable_sidebar", "true");
    }
    if (localStorage.getItem("enable_sidebar") == 'false') {
      enable_sidebar(false);
    } else {
      enable_sidebar(true);
    }

    $('.tag_filter_hide_button.mobile-hide').click(function(e){
      var enable_side_bar = localStorage.getItem("enable_sidebar");
      if (enable_side_bar == 'true') {
        enable_sidebar(false);
      } else {
        enable_sidebar(true);
      }
    });

    var mobile_side_bar_status = false;

    $('.tag_filter_hide_button.desktop-hide').click(function(e){
      click_mobile_filter_sidebar(!mobile_side_bar_status);
    });

    $('.filters-toolbar .closebtn').click(function(e) {
      click_mobile_filter_sidebar(false);
    });

    function click_mobile_filter_sidebar(flag) {
      if (flag) {
        mobile_side_bar_status = true;
        $('body').addClass('mobile-filter-modal-open');
      } else {
        mobile_side_bar_status = false;
        $('body').removeClass('mobile-filter-modal-open');
      }
      
    }

    function enable_sidebar(enable) {
      if (enable) {
        $('#Collection').removeClass('hide_side_filter');
        localStorage.setItem("enable_sidebar", 'true');
        $('.tag_filter_hide_button.mobile-hide').text("Hide filter ");
      } else {
        $('#Collection').addClass('hide_side_filter');
        localStorage.setItem("enable_sidebar", 'false');
        $('.tag_filter_hide_button.mobile-hide').text("Show filter ");
      }
    }

    {% if section.settings.enable_tag_sticky %}
    $(window).load(function() {
      sidebar_sticky_relocate();
      $(window).scroll(sidebar_sticky_relocate);
    });
    {% endif %}

    product_grid_swatch_init();
  });

  function product_grid_swatch_init() {
    $('.variant-swatch .swatch-element input').click(function(){
      console.log('input button clicked')
      var image_url = $(this).attr('data-image')
      console.log('valeu = ', $(this).attr('value'));
      console.log("image url = ",$(this).attr('data-image'));
      if (image_url != undefined) {
        $(this).closest('.grid-view-item').find('.grid-view-item__image').css("background-image", "url(" + image_url + ")");
      }
    });
  }
</script>

<style>
  #Collection .grid-view-item .grid-view-item__title:before {
    {% if section.settings.icon_color != blank %}
    color: {{ section.settings.icon_color }};
    {% endif %}
    {% if section.settings.icon_text != blank %}
    content: '{{ section.settings.icon_text }}';
    {% endif %}    
    position: absolute;
    right: 0;
  }

  #Collection .grid-view-item .product-price__price {
    color: {{ section.settings.price_color }};
  }

  #Collection .grid-view-item .grid-view-item__meta {
    {% if section.settings.price_margin_top != blank %}
      margin-top: {{ section.settings.price_margin_top }}px;
    {% endif %}
    {% if section.settings.price_margin_bottom != blank %}
      margin-bottom: {{ section.settings.price_margin_bottom }}px;
    {% endif %}
  }

  #Collection .grid-view-item .grid-view-item__title {
    color: {{ section.settings.title_color }};

    {% if section.settings.title_margin_top != blank %}
      margin-top: {{ section.settings.title_margin_top }}px;
    {% endif %}
    {% if section.settings.title_margin_bottom != blank %}
      margin-bottom: {{ section.settings.title_margin_bottom }}px;
    {% endif %}
  }

  {% if section.settings.title_border_size > 0 %}
  #Collection .grid-view-item .grid-view-item__title:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    right: 0;
    margin: auto;
    width: {{ section.settings.title_border_width }}%;
    height: {{ section.settings.title_border_size }}px;
    background: {{ section.settings.title_border_color }};
    transition: all .66s cubic-bezier(.175,.885,.32,1.275);
  }
  #Collection .grid-view-item:hover .grid-view-item__title:after {
    width: {{ section.settings.title_border_width_hover }}%;
  }
  {% endif %}

  #shopify-section-{{ section.id }} .grid-view-item .variant-swatch_container {
    {% if section.settings.variant_margin_top != blank %}
      margin-top: {{ section.settings.variant_margin_top }}px;
    {% endif %}
    {% if section.settings.variant_margin_bottom != blank %}
      margin-bottom: {{ section.settings.variant_margin_bottom }}px;
    {% endif %}
  }

  #shopify-section-{{ section.id }} .grid-view-item__image {
    {% if section.settings.image_margin_top != blank %}
      margin-top: {{ section.settings.image_margin_top }}px;
    {% endif %}
    {% if section.settings.image_margin_bottom != blank %}
      margin-bottom: {{ section.settings.image_margin_bottom }}px;
    {% endif %}
  }
  @media only screen and (max-width: 768px) {
    #Collection .grid-view-item .grid-view-item__title {
      {% if section.settings.title_margin_top_mobile != blank %}
        margin-top: {{ section.settings.title_margin_top_mobile }}px;
      {% endif %}
      {% if section.settings.title_margin_bottom_mobile != blank %}
        margin-bottom: {{ section.settings.title_margin_bottom_mobile }}px;
      {% endif %}
    }
    #Collection .grid-view-item .grid-view-item__meta {
      {% if section.settings.price_margin_top_mobile != blank %}
        margin-top: {{ section.settings.price_margin_top_mobile }}px;
      {% endif %}
      {% if section.settings.price_margin_bottom_mobile != blank %}
        margin-bottom: {{ section.settings.price_margin_bottom_mobile }}px;
      {% endif %}
    }
    #shopify-section-{{ section.id }} .grid-view-item .variant-swatch {
      {% if section.settings.variant_margin_top_mobile != blank %}
        margin-top: {{ section.settings.variant_margin_top_mobile }}px;
      {% endif %}
      {% if section.settings.variant_margin_bottom_mobile != blank %}
        margin-bottom: {{ section.settings.variant_margin_bottom_mobile }}px;
      {% endif %}
    }
    #shopify-section-{{ section.id }} .grid-view-item__image {
      {% if section.settings.image_margin_top_mobile != blank %}
        margin-top: {{ section.settings.image_margin_top_mobile }}px;
      {% endif %}
      {% if section.settings.image_margin_bottom_mobile != blank %}
        margin-bottom: {{ section.settings.image_margin_bottom_mobile }}px;
      {% endif %}
    }
  }
</style>

{% schema %}
  {
    "name": "Collection pages",
    "settings": [
      {
        "type": "header",
        "content": "ToolBar"
      },
      {
        "type": "checkbox",
        "id": "enable_toolbar",
        "label": "Show toolbar",
        "default": true
      },
      {
        "type": "richtext",
        "id": "toolbar_richtext",
        "label": "Texts"
      },
      {
        "type": "color",
        "id": "toolbar_color",
        "label": "Background"
      },
      
      {
        "type": "checkbox",
        "id": "show_collection_image",
        "label": "Show collection image",
        "default": true
      },
      {
        "type": "select",
        "id": "layout",
        "label": "Layout",
        "default": "grid",
        "options": [
          {
            "value": "grid",
            "label": "Grid"
          },
          {
            "value": "list",
            "label": "List"
          }
        ]
      },
      {
        "type": "select",
        "id": "grid",
        "label": "Products per row (grid only)",
        "default": "4",
        "options": [
          {
            "value": "2",
            "label": "2"
          },
          {
            "value": "3",
            "label": "3"
          },
          {
            "value": "4",
            "label": "4"
          },
          {
            "value": "5",
            "label": "5"
          }
        ]
      },
      {
        "type": "select",
        "id": "rows",
        "label": "Rows per page (grid only)",
        "default": "2",
        "options": [
          {
            "value": "2",
            "label": "2"
          },
          {
            "value": "3",
            "label": "3"
          },
          {
            "value": "4",
            "label": "4"
          },
          {
            "value": "5",
            "label": "5"
          },
          {
            "value": "6",
            "label": "6"
          },
          {
            "value": "7",
            "label": "7"
          },
          {
            "value": "8",
            "label": "8"
          }
        ]
      },
      {
        "type": "radio",
        "id": "contained",
        "label": "Form should:",
        "options": [
            { "value": "container", "label": "Constrain to container" },
            { "value": "container-fluid", "label": "Flow to the width of screen" }
        ],
        "default": "container"
    },
    
    {
      "type": "checkbox",
      "id": "tags_enable",
      "label": "Enable tag filtering",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "enable_tag_sticky",
      "label": "Enable tag filtering sticky"
    },
  

      {
        "type": "checkbox",
        "id": "sort_enable",
        "label": "Enable sorting",
        "default": true
      },


      {
        "type": "header",
        "content": "Product Listings"
      },
      {
        "type": "range",
        "id": "image_margin_top",
        "label": "Image margin top",
        "min": 0,
        "max": 100,
        "step": 1,
        "default": 0
      }, 
      {
        "type": "range",
        "id": "image_margin_bottom",
        "label": "Image margin bottom",
        "min": 0,
        "max": 100,
        "step": 1,
        "default": 15
      }, 

      {
        "type": "range",
        "id": "image_margin_top_mobile",
        "label": "Image margin top (mobile)",
        "min": 0,
        "max": 100,
        "step": 1,
        "default": 0
      }, 
      {
        "type": "range",
        "id": "image_margin_bottom_mobile",
        "label": "Image margin bottom (mobile)",
        "min": 0,
        "max": 100,
        "step": 1,
        "default": 15
      }, 


      {
        "type": "checkbox",
        "id": "variant_enable",
        "label": "Enable Variant"
      },
      {
        "type": "select",
        "id": "variant_swatch_position",
        "label": "Variant swatch position",
        "default": "above_title",
        "options": [
          {
            "value": "above_title",
            "label": "Above title"
          },
          {
              "value": "below_title",
              "label": "Below title"
          },
          {
              "value": "below_price",
              "label": "Below price"
          }
        ]
      },
      {
        "type": "range",
        "id": "variant_margin_top",
        "label": "Variant margin top",
        "min": 0,
        "max": 100,
        "step": 1,
        "default": 0
      }, 
      {
        "type": "range",
        "id": "variant_margin_bottom",
        "label": "Variant margin bottom",
        "min": 0,
        "max": 100,
        "step": 1,
        "default": 0
      }, 

      {
        "type": "range",
        "id": "variant_margin_top_mobile",
        "label": "Variant margin top (mobile)",
        "min": 0,
        "max": 100,
        "step": 1,
        "default": 0
      }, 
      {
        "type": "range",
        "id": "variant_margin_bottom_mobile",
        "label": "Variant margin bottom (mobile)",
        "min": 0,
        "max": 100,
        "step": 1,
        "default": 0
      }, 



      {
        "type": "color",
        "id": "title_color",
        "label": "Title color",
        "default": "#231f20"
      },
      {
        "type": "text",
        "id": "icon_text",
        "label": "Icon",
        "default": ">"
      },
      {
        "type": "color",
        "id": "icon_color",
        "label": "Icon color",
        "default": "#c00218"
      },
      
      {
        "type": "range",
        "id": "title_margin_top",
        "label": "Title margin top",
        "min": 0,
        "max": 100,
        "step": 1,
        "default": 0
      }, 
      {
        "type": "range",
        "id": "title_margin_bottom",
        "label": "Title margin bottom",
        "min": 0,
        "max": 100,
        "step": 1,
        "default": 0
      },
      {
        "type": "range",
        "id": "title_margin_top_mobile",
        "label": "Title margin top (mobile)",
        "min": 0,
        "max": 100,
        "step": 1,
        "default": 0
      }, 
      {
        "type": "range",
        "id": "title_margin_bottom_mobile",
        "label": "Title margin bottom (mobile)",
        "min": 0,
        "max": 100,
        "step": 1,
        "default": 0
      },

      {
        "type": "range",
        "id": "title_border_size",
        "label": "Border size",
        "min": 0,
        "max": 10,
        "step": 1,
        "default": 6
      }, 
      {
        "type": "color",
        "id": "title_border_color",
        "label": "Border color",
        "default": "#231f20"
      },

      {
        "type": "range",
        "id": "title_border_width",
        "label": "Border Width",
        "min": 0,
        "max": 100,
        "step": 1,
        "default": 100
      }, 
      {
        "type": "range",
        "id": "title_border_width_hover",
        "label": "Border Width (hover)",
        "min": 0,
        "max": 100,
        "step": 1,
        "default": 90
      }, 


      {
        "type": "color",
        "id": "price_color",
        "label": "Price color",
        "default": "#231f20"
      },

      {
        "type": "range",
        "id": "price_margin_top",
        "label": "Price margin top",
        "min": 0,
        "max": 100,
        "step": 1,
        "default": 8
      }, 
      {
        "type": "range",
        "id": "price_margin_bottom",
        "label": "Price margin bottom",
        "min": 0,
        "max": 100,
        "step": 1,
        "default": 0
      },
      {
        "type": "range",
        "id": "price_margin_top_mobile",
        "label": "Price margin top (mobile)",
        "min": 0,
        "max": 100,
        "step": 1,
        "default": 5
      }, 
      {
        "type": "range",
        "id": "price_margin_bottom_mobile",
        "label": "Price margin bottom (mobile)",
        "min": 0,
        "max": 100,
        "step": 1,
        "default": 0
      }

    ],
    "blocks": [    
      {
        "type": "price_filters",
        "name": "Price range",
        "limit": 1,
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Title",
            "default": "Price"
          }
        ]
      }
    ]
  }
{% endschema %}
