{%- assign social_icons = false -%}

{% if
  settings.social_twitter_link != blank
  or settings.social_facebook_link != blank
  or settings.social_pinterest_link != blank
  or settings.social_instagram_link != blank
  or settings.social_tumblr_link != blank
  or settings.social_snapchat_link != blank
  or settings.social_youtube_link != blank
  or settings.social_vimeo_link != blank
%}
  {%- assign social_icons = true -%}
{% endif %}

<footer class="site-footer" role="contentinfo" 
  {% comment %}{% if section.settings.footer_newsletter_alone %}{% else %}style="margin-top:60px;"{% endif %}{% endcomment %}>
  <div class="container">
    <div class="row footer-contents justify-content-between">

      {% for block in section.blocks %}
        {%- assign footer_linklist = block.settings.linklist -%}
        {% if linklists[footer_linklist].links.size > 0 %}
          <style>
            #shopify-section-{{ section.id }} #block-{{ block.id }}.footer-col .footer-accordion {
              {% if block.settings.title_size != blank %}
                font-size: {{ block.settings.title_size }}px;
              {% endif %}
              {% if block.settings.title_color != blank %}
                color: {{ block.settings.title_color }}
              {% endif %}
            }
            @media screen and (max-width: 767px) {
              #shopify-section-{{ section.id }} #block-{{ block.id }}.footer-col .footer-accordion {
                {% if block.settings.title_size_mobile != blank %}
                  font-size: {{ block.settings.title_size_mobile }}px;
                {% endif %}
              }
            }
          </style>
          <div id="block-{{ block.id }}" class="footer-col col-md-auto col-60 item text-left">
            {% if block.settings.title != blank %}

            <h2 class="h4 footer-accordion text-left">{{ block.settings.title }}
              {% if block.settings.title_border_bottom > 0 and block.settings.title_border_width > 0 %}
              <div style="width: {{ block.settings.title_border_width }}%;
                border-bottom: {{ block.settings.title_border_bottom }}px solid;"></div>
              {% endif %}
            </h2>              
            {% endif %}
            <ul class="site-footer__linklist">
              <style>
                #shopify-section-{{ section.id }} #block-{{ block.id }}.footer-col .site-footer__linklist li.site-footer__linklist-item {
                  {% if block.settings.link_size != blank %}
                    font-size: {{ block.settings.link_size }}px;
                  {% endif %}
                  {% if block.settings.link_color != blank %}
                    color: {{ block.settings.link_color }}
                  {% endif %}
                }
                @media screen and (max-width: 767px) {
                  #shopify-section-{{ section.id }} #block-{{ block.id }}.footer-col .site-footer__linklist li.site-footer__linklist-item {
                    {% if block.settings.link_size_mobile != blank %}
                      font-size: {{ block.settings.link_size_mobile }}px;
                    {% endif %}
                  }
                }
              </style>
              {% for link in linklists[footer_linklist].links %}
                <li class="site-footer__linklist-item">
                  <a href="{{ link.url }}">{{ link.title }}</a>
                </li>
              {% endfor %}
            </ul>
          </div>
        {% endif %}
      {% endfor %}

      <div class="col-md-10 item"></div>

      {% if section.settings.footer_newsletter_enable %}
        <style>
      
          #shopify-section-{{ section.id }} .site-footer__newsletter {
            margin-top: {{ section.settings.footer_newsletter_margin_top }}px;
            margin-bottom: {{ section.settings.footer_newsletter_margin_top }}px;
          }

          @media screen and (max-width: 767px) {
            #shopify-section-{{ section.id }} .site-footer__newsletter {
              margin-top: {{ section.settings.footer_newsletter_margin_top_mobile }}px;
              margin-bottom: {{ section.settings.footer_newsletter_margin_top_mobile }}px;
            }
          }

          #shopify-section-{{ section.id }} .site-footer__newsletter .label_1 {

            {% if section.settings.newsletter_label_1_color != blank %}
            color: {{ section.settings.newsletter_label_1_color }};
            {% endif %}
            text-align: {{ section.settings.newsletter_label_1_text_align }};
          }

          #shopify-section-{{ section.id }} .site-footer__newsletter .label_2 {
            {% if section.settings.newsletter_label_2_color != blank %}
            color: {{ section.settings.newsletter_label_2_color }};
            {% endif %}
            text-align: {{ section.settings.newsletter_label_2_text_align }};
          }

          @media screen and (max-width: 767px) {
            #shopify-section-{{ section.id }} .site-footer__newsletter .label_1 {
              text-align: {{ section.settings.newsletter_label_1_text_align_mobile }};
            }
            #shopify-section-{{ section.id }} .site-footer__newsletter .label_2 {
              text-align: {{ section.settings.newsletter_label_2_text_align_mobile }};
            }
          }

          #shopify-section-{{ section.id }} .site-footer__newsletter .input-group__btn .btn .newsletter__input {
            text-align: {{ section.settings.newsletter_input_text_align }};
          }

          #shopify-section-{{ section.id }} .site-footer__newsletter .input-group__btn .btn {
            {% if section.settings.submit_btn_text_color != blank %}
              color: {{ section.settings.submit_btn_text_color }};
            {% endif %}
            {% if section.settings.submit_btn_background_color != blank %}
              background-color: {{ section.settings.submit_btn_background_color }};
            {% endif %}
          }

          #shopify-section-{{ section.id }} .site-footer__newsletter .input-group__btn .btn:hover {
            {% if section.settings.submit_btn_text_hover_color != blank %}
              color: {{ section.settings.submit_btn_text_hover_color }};
            {% endif %}
            {% if section.settings.submit_btn_background_hover_color != blank %}
              background-color: {{ section.settings.submit_btn_background_hover_color }};
            {% endif %}
          }          
        </style>

        <div class="col-md-20 item">
          <div class="site-footer__newsletter text-right text-mobile-left">
            {% include 'newsletter' %}
          </div>
        </div>
      {% endif %}

    </div>

    <div class="row site-footer-bottom justify-content-between">
      {% if section.settings.footer_socials_enable and social_icons %}
        {% assign class = "site-footer__social-icons d-none d-md-block" %}
        <div class="{{ class }}">
        {% if section.settings.socials_title %}<h4>{{ section.settings.socials_title }}</h4>{% endif %}
          <style>
            {% if section.settings.social_color != blank %}
            .site-footer .social-icons__link {
                color: {{ section.settings.social_color }};
              }
            {% endif %}
          </style>
          {% include 'social-icons' %}
        </div>
      {% endif %}

      {%- assign footer_logo = section.settings.logo -%}
      {% if footer_logo == blank %}
        {%- assign footer_logo = settings.logo -%}
      {% endif %}
      {% if footer_logo != blank %}
        <a href="/" class="logo--footer">
          <img src="{{ footer_logo | img_url: 'x150' }}"
            alt="{{ settings.logo.alt | default: shop.name }}" /></a>
      {% endif %}
    </div>

    {% if section.settings.show_copyright %}
    <div class="site-footer__copyright--bottom">
      <small class="site-footer__copyright-content">&copy; {{ 'now' | date: "%Y" }}, {{ shop.name | link_to: '/' }}</small>
      <small class="site-footer__copyright-content">Built on Inferno Framework by <a href="http://wickcreative.com" target="_blank">Wick Creative</a></small>
    </div>
    {% endif %}

  </div>
</footer>

{% if settings.newsletter_poup %}
  <div id="newsletter-signup" class="white-popup mfp-hide mfp-with-anim"{% if settigns.newsletter_bg != blank %} style="background:url({{ settings.newsletter_bg | img_url: 'grande' }});"{% endif %}>
    <div class="row">
      <div class="col-md-30 offset-md-15">
        {% if settings.newsletter_popup_title != blank %}
          <h3>{{ settings.newsletter_popup_title }}</h3>
          <hr />
        {% endif %}
        {% if settings.newsletter_popup_content != blank %}
          <p>{{ settings.newsletter_popup_content }}</p>
        {% endif %}
        {% include 'newsletter' %}
      </div>
    </div>
  </div>

  <script>
    if(Cookies.get('newslettersign') != 'true') {
      Cookies.set('newslettersign', 'true'{% unless settings.newsletter_popup_length == '0' %}, { expires: {{ settings.newsletter_popup_length }} }{% endunless %});
      $.magnificPopup.open({
        removalDelay: 1000,
        callbacks: {
          beforeOpen: function() {
            this.st.mainClass = 'mfp-move-horizontal'
          }
        },
        items: {
          src: '#newsletter-signup',
          type: 'inline'
        }
      });
    }
  </script>
{% endif %}

{% schema %}
  {
    "name": "Footer",
    "settings": [
      {
        "type": "image_picker",
        "id": "logo",
        "label": "Logo",
        "info": "If left blank, will default to header logo"
      },
      {
        "type": "header",
        "content": "Newsletter"
      },
      {
        "type": "checkbox",
        "id": "footer_newsletter_enable",
        "label": "Show newsletter signup",
        "default": false,
        "info": "Form action set in General Settings"
      },

      {
        "type": "range",
        "id": "footer_newsletter_margin_top",
        "label": "Margin top",
        "min": 0,
        "max": 100,
        "step": 1,
        "default": 0
      },

      {
        "type": "range",
        "id": "footer_newsletter_margin_bottom",
        "label": "Margin bottom",
        "min": 0,
        "max": 100,
        "step": 1,
        "default": 0
      },

      
      {
        "type": "range",
        "id": "footer_newsletter_margin_top_mobile",
        "label": "Margin top (mobile)",
        "min": 0,
        "max": 100,
        "step": 1,
        "default": 5
      },

      {
        "type": "range",
        "id": "footer_newsletter_margin_bottom_mobile",
        "label": "Margin bottom (mobile)",
        "min": 0,
        "max": 100,
        "step": 1,
        "default": 5
      },
      {
        "type": "header",
        "content": "Label Text 1"
      },
      {
        "type": "text",
        "id": "newsletter_label_1_text",
        "label": "Text",
        "default": "EXPERIENCE ELEVATED FIRST AID"
      },
      {
        "type": "select",
        "id": "newsletter_label_1_text_align",
        "label": "Text align",
        "default": "right",
        "options": [
          {
            "value": "left",
            "label": "Left"
          },
          {
            "value": "center",
            "label": "Center"
          },
          {
            "value": "right",
            "label": "Right"
          }
        ]
      },
      {
        "type": "select",
        "id": "newsletter_label_1_text_align_mobile",
        "label": "Text align (mobile)",
        "default": "left",
        "options": [
          {
            "value": "left",
            "label": "Left"
          },
          {
            "value": "center",
            "label": "Center"
          },
          {
            "value": "right",
            "label": "Right"
          }
        ]
      },
      {
        "type": "color",
        "id": "newsletter_label_1_color",
        "label": "Color"
      },
      {
        "type": "header",
        "content": "Label Text 2"
      },
      {
        "type": "text",
        "id": "newsletter_label_2_text",
        "label": "Text",
        "default": "Be the first to know the latest My Medic products and news"
      },
      {
        "type": "select",
        "id": "newsletter_label_2_text_align",
        "label": "Text align",
        "default": "right",
        "options": [
          {
            "value": "left",
            "label": "Left"
          },
          {
            "value": "center",
            "label": "Center"
          },
          {
            "value": "right",
            "label": "Right"
          }
        ]
      },
      
      {
        "type": "select",
        "id": "newsletter_label_2_text_align_mobile",
        "label": "Text align (mobile)",
        "default": "left",
        "options": [
          {
            "value": "left",
            "label": "Left"
          },
          {
            "value": "center",
            "label": "Center"
          },
          {
            "value": "right",
            "label": "Right"
          }
        ]
      },

      {
        "type": "color",
        "id": "newsletter_label_2_color",
        "label": "Color"
      },
      {
        "type": "select",
        "id": "newsletter_input_text_align",
        "label": "Email Placeholder - Text align",
        "default": "right",
        "options": [
          {
            "value": "left",
            "label": "Left"
          },
          {
            "value": "center",
            "label": "Center"
          },
          {
            "value": "right",
            "label": "Right"
          }
        ]
      },
      {
        "type": "color",
        "id": "submit_btn_text_color",
        "label": "Submit Button Text color"
      },
      {
        "type": "color",
        "id": "submit_btn_background_color",
        "label": "Submit Button Background color"
      },
      {
        "type": "color",
        "id": "submit_btn_text_hover_color",
        "label": "Submit Button Text Hover color"
      },
      {
        "type": "color",
        "id": "submit_btn_background_hover_color",
        "label": "Submit Button Background Hover color"
      },

      {
        "type": "header",
        "content": "Socials"
      },
      {
        "type": "checkbox",
        "id": "footer_socials_enable",
        "label": "Show social icons",
        "default": true,
        "info": "Links are set in General Settings"
      },
      {
        "type": "color",
        "id": "social_color",
        "label": "Icon Color",
        "default": "#8d9091"
      },
      {
        "type": "text",
        "id": "socials_title",
        "label": "Socials Title"
      },
      {
        "type": "checkbox",
        "id": "show_copyright",
        "label": "Show CopyRight"
      }
    ],
    "blocks": [
      {
        "type": "menu",
        "name": "Menu",
        "settings": [
          {
            "type": "header",
            "content": "Heading"
          },
          {
            "type": "text",
            "id": "title",
            "label": "Title"
          },
          {
            "type": "range",
            "id": "title_size",
            "label": "Font size",
            "min": 10,
            "max": 100,
            "step": 1,
            "default": 21
          },
          {
            "type": "range",
            "id": "title_size_mobile",
            "label": "Font size (mobile)",
            "min": 10,
            "max": 100,
            "step": 1,
            "default": 18
          },
          {
            "type": "range",
            "id": "title_border_bottom",
            "label": "Border bottom",
            "min": 0,
            "max": 10,
            "step": 1,
            "default": 5
          },
          {
            "type": "range",
            "id": "title_border_width",
            "label": "Border Width",
            "min": 0,
            "max": 100,
            "step": 1,
            "default": 100
          },

          {
            "type": "color",
            "id": "title_color",
            "label": "Title Color",
            "default": "#8d9091"
          },
          {
            "type": "header",
            "content": "Menu lists"
          },
          {
            "type": "link_list",
            "id": "linklist",
            "label": "Linklist",
            "default": "footer"
          },
          {
            "type": "range",
            "id": "link_size",
            "label": "Font size",
            "min": 10,
            "max": 100,
            "step": 1,
            "default": 16
          },
          {
            "type": "range",
            "id": "link_size_mobile",
            "label": "Font size (mobile)",
            "min": 10,
            "max": 100,
            "step": 1,
            "default": 14
          },
          {
            "type": "color",
            "id": "link_color",
            "label": "Link Color",
            "default": "#8d9091"
          }
        ]
      }
    ]
  }
{% endschema %}
