
{% style %}
  {% if section.settings.section_height == 'maintain_ratio' %}
  .image-bar--maintain_ratio .image-bar__item {
    {% capture img_width %}{{ section.blocks[0].settings.image.width }}{% endcapture %}
    {% capture img_height %}{{ section.blocks[0].settings.image.height | times: 100 }}{% endcapture %}
    {% capture rounddown %}{{ img_height | divided_by: img_width }}{% endcapture %}
    padding-top: {{ rounddown | plus: 1 }}%;
    position: relative;
    height: 100%;
  }
  .image-bar--maintain_ratio .image-bar__item .image-bar__content {
    height: auto;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
  }
  {% endif %}

  {% if section.settings.contained == 'container custom' %}
    #shopify-section-{{ section.id }} .container.custom {
      max-width: {{ section.settings.custom_container }}px;
    }
  {% endif %}
{% endstyle %}

<div class="{{ section.settings.contained }} to-edges">
  <div class="row {% if section.settings.item_gutter %} no-gutters{% endif %} image-bar image-bar--{{ section.settings.section_height }}">
    {% case section.blocks.size %}
      {% when 1 %}
        {%- assign column_size = 'col' -%}
        {%- assign image_width = '2000' -%}
      {% when 2 %}
        {%- assign column_size = 'col-md-30' -%}
        {%- assign image_width = '800' -%}
      {% when 3 %}
        {%- assign column_size = 'col-md-20' -%}
        {%- assign image_width = '500' -%}
      {% else %}
        {%- assign column_size = 'col-md-15' -%}
        {%- assign image_width = '400' -%}
    {% endcase %}
    {% case section.settings.section_height %}
      {% when 'x-small' %}
        {%- assign image_height = '125' -%}
      {% when 'small' %}
        {%- assign image_height = '300' -%}
      {% when 'medium' %}
        {%- assign image_height = '475' -%}
      {% when 'large' %}
        {%- assign image_height = '650' -%}
      {% when 'x-large' %}
        {%- assign image_height = '775' -%}
    {% endcase %}
    {% capture image_size %}{{ image_width }}x{{ image_height }}{% endcapture %}

    {% for block in section.blocks %}
      {%- assign img_url = '' -%}
      
      <div id="block--{{ block.id }}" class="{{ column_size }} item" {{ block.shopify_attributes }}>
        <style>
        .image-bar__item--{{ block.id }} {
          background-position: {{ block.settings.alignment }};
        }

        #block--{{ block.id }} .btn {
          {% if block.settings.button_width != blank %}
              width: {{ block.settings.button_width }}px;
          {% endif %}
          {% if block.settings.button_text_color != blank %}
              color: {{ block.settings.button_text_color }};
          {% endif %}
          {% if block.settings.button_background_color != blank %}
              background-color: {{ block.settings.button_background_color }};
          {% endif %}
          {% if block.settings.button_border_color != blank %}
              border-color: {{ block.settings.button_border_color }};
          {% endif %}
        }

        #block--{{ block.id }} .image_link:hover .btn,
        #block--{{ block.id }} .btn:hover {
          {% if block.settings.button_text_hover_color != blank %}
              color: {{ block.settings.button_text_hover_color }};
          {% endif %}
          {% if block.settings.button_background_hover_color != blank %}
              background-color: {{ block.settings.button_background_hover_color }};
          {% endif %}
          {% if block.settings.button_border_hover_color != blank %}
              border-color: {{ block.settings.button_border_hover_color }};
          {% endif %}
        }

        {% if block.settings.button_width_mobile != blank %}
        @media screen and (max-width: 767px) {
            #block--{{ block.id }} .btn {
                width: {{ block.settings.button_width_mobile }}px;
            }
        }
        {% endif %}
        </style>

        {% if block.settings.image != blank %}
          {%- assign img_url = block.settings.image | img_url: image_size, crop: 'center' -%}
        {% else %}
          {%- assign img_url = '' -%}
        {% endif %}

        {% if block.settings.btn_url != blank and block.settings.image_link %}
          <a href="{{ block.settings.btn_url }}" class="image_link">
            <div class="image-bar__item image-bar__item--{{ block.id }}" style="background-image: url({{ img_url }});">
        {% else %}
          {% if img_url != blank %}
            <div class="image-bar__item image-bar__item--{{ block.id }}" style="background-image: url({{ img_url }});">
          {% else %}
            <div class="image-bar__item">
          {% endif %}
        {% endif %}
        <div class="image-bar__content{% if block.settings.cta_label != blank %} image-bar__overlay{% endif %}">
          {% if img_url == blank %}
            {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
          {% endif %}

          {% if block.settings.cta_label != blank %}
            <div class="image-bar__text">
              <h3 class="image-bar__caption text-{{ block.settings.text_layout }}">{{ block.settings.cta_label }}</h3>

              {% if block.settings.btn_url != blank and block.settings.image_link %}
              <div class="button {{ block.settings.button_layout }}">
              {% else %}              
              <a class="button {{ block.settings.button_layout }}" href="{{ block.settings.btn_url }}">
              {% endif %}
                <span class="btn">{{ block.settings.btn_text }}</span>

              {% if block.settings.btn_url != blank and block.settings.image_link %}
              </div>
              {% else %}
              </a> 
              {% endif %}            
            </div>
          {% endif %}
        </div>
        {% if block.settings.btn_url != blank and block.settings.image_link %}
            </div>
          </a>
        {% else %}
          </div>
        {% endif %}
      </div>
    {% endfor %}
  </div>
</div>

{% if section.blocks.size == 0 %}
  {% include 'no-blocks' %}
{% endif %}

{% schema %}
  {
    "name": "Gallery",
    "class": "index-section index-section--flush image-bar-section",
    "max_blocks": 4,
    "settings": [
      {
        "type": "radio",
        "id": "contained",
        "label": "Form should:",
        "options": [
          { "value": "container", "label": "Constrain to container" },
          { "value": "container-fluid", "label": "Flow to the width of screen" },
          { "value": "container custom", "label": "Constrain to customized container" }
        ],
        "default": "container"
      },
      {
        "type": "range",
        "id": "custom_container",
        "label": "Custom Container Width",
        "min": 300,
        "max": 1420,
        "step": 20,
        "default": 1420
      },
      {
        "type": "select",
        "id": "section_height",
        "label": "Section height",
        "default": "medium",
        "options": [
          {
            "label": "Extra Small",
            "value": "x-small"
          },
          {
            "label": "Small",
            "value": "small"
          },
          {
            "label": "Medium",
            "value": "medium"
          },
          {
            "label": "Large",
            "value": "large"
          },
          {
            "label": "Extra Large",
            "value": "x-large"
          },
          {
            "label": "Maintain Ratio based on First Slide",
            "value": "maintain_ratio"
          }
        ]
      },
      {
        "type": "checkbox",
        "id": "item_gutter",
        "label": "Item Gutter"
      }
    ],
    "blocks": [
      {
        "type": "image",
        "name": "Image",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
            "type": "select",
            "id": "alignment",
            "label": "Image alignment",
            "default": "center",
            "options": [
              {
                "value": "top",
                "label": "Top"
              },
              {
                "value": "center",
                "label": "Middle"
              },
              {
                "value": "bottom",
                "label": "Bottom"
              }
            ]
          },
          {
            "type": "text",
            "id": "cta_label",
            "label": "Caption"
          },
          {
            "type": "select",
            "id": "text_layout",
            "label": "Text Position",
            "default": "left",
            "options": [
                {
                "value": "left",
                "label": "Text on Left"
                },
                {
                "value": "center",
                "label": "Text on Center"
                },
                {
                "value": "right",
                "label": "Text on right"
                }
            ]
          },
          {
            "type": "header",
            "content": "Button"
          },
          {
            "type": "text",
            "id": "btn_text",
            "label": "Button Text",
            "default": "SHOP KITS >"
          },
          {
            "type": "url",
            "id": "btn_url",
            "label": "Button Url"
          },
          {
            "type": "select",
            "id": "button_layout",
            "label": "Button Position",
            "default": "right",
            "options": [
                {
                "value": "left",
                "label": "Button on Left"
                },
                {
                "value": "center",
                "label": "Button on Center"
                },
                {
                "value": "right",
                "label": "Button on right"
                }
            ]
          },
          {	
            "type": "range",	
            "id": "button_width",	
            "label": "Button Width",	
            "min": 50,	
            "max": 300,	
            "step": 5,	
            "default": 170	
          },	
          {	
              "type": "range",	
              "id": "button_width_mobile",	
              "label": "Button Width (Mobile)",	
              "min": 50,	
              "max": 300,	
              "step": 5,	
              "default": 170	
          },	
          {	
              "type": "color",	
              "id": "button_text_color",	
              "label": "Text Color"	
          },	
          {	
              "type": "color",	
              "id": "button_background_color",	
              "label": "Background Color"	
          },	
          {	
              "type": "color",	
              "id": "button_border_color",	
              "label": "Border Color"	
          },	
          {	
              "type": "color",	
              "id": "button_text_hover_color",	
              "label": "Text Hover Color"	
          },	
          {	
              "type": "color",	
              "id": "button_background_hover_color",	
              "label": "Background Hover Color"	
          },	
          {	
              "type": "color",	
              "id": "button_border_hover_color",	
              "label": "Border Hover Color"	
          },
          {
            "type": "checkbox",
            "id": "image_link",
            "label": "Enable link on image block"
          }
          
        ]
      }
    ],
    "presets": [
      {
        "name": "Gallery",
        "category": "Image",
        "blocks": [
          {
            "type": "image"
          },
          {
            "type": "image"
          },
          {
            "type": "image"
          }
        ]
      }
    ]
  }
{% endschema %}
