{% if section.settings.title != blank %}
<div class="section-header text-center">
  <h3 class="title">{{ section.settings.title | escape }}</h3>
</div>
{% endif %}

<div class="container" data-section-id="{{ section.id }}" data-section-type="quotes">

  {% if section.blocks.size > 0 %}
    <div class="row quotes-wrapper">
      <div class="col-60">
        <div class="quotes-slider" id="Quotes-{{ section.id }}" data-count="{{ section.blocks.size }}" data-show="{{ section.settings.size }}" data-dots="{{ section.settings.dots }}" data-arrows="{{ section.settings.arrows }}">
          {% for block in section.blocks %}
            <div class="quotes-slide--{{ block.id }}" {{ block.shopify_attributes }}>
              <blockquote class="quotes-slider__text text-center">
                {% comment %}
                <span class="quote-icon">{% include 'icon-quote' %}</span>
                {% endcomment %}
                {% if block.settings.quote != blank %}
                  <div class="rte-setting">{{ block.settings.quote }}</div>
                {% endif %}
                {% if block.settings.author != blank %}
                  <cite>{{ block.settings.author | escape }}</cite>
                {% endif %}
              </blockquote>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  {% endif %}

  {% if section.blocks.size == 0 %}
    {% include 'no-blocks' %}
  {% endif %}
</div>
<style>

    #shopify-section-{{ section.id }} .section-header {
      {% if section.settings.heading_background != blank %}
        background: {{ section.settings.heading_background }};
      {% endif %}
      {% if section.settings.heading_color != blank %}
        color: {{ section.settings.heading_color }};
      {% endif %}
    }
    #shopify-section-{{ section.id }} .section-header .title{
      {% if section.settings.title_size != blank %}
        font-size: {{ section.settings.title_size }}px;
      {% endif %}
    }
    #shopify-section-{{ section.id }} blockquote .rte-setting {
      {% if section.settings.color-blockquote != blank %}
        color: {{ section.settings.color-blockquote }};
      {% endif %}
      {% if section.settings.quote_size != blank %}
        font-size: {{ section.settings.quote_size }}px;
      {% endif %}
    }
    #shopify-section-{{ section.id }} blockquote cite {
      {% if section.settings.color-author != blank %}
        color: {{ section.settings.color-author }};
      {% endif %}
      {% if section.settings.author_size != blank %}
        font-size: {{ section.settings.author_size }}px;
      {% endif %}
    }

    @media screen and (max-width: 767px) {
      #shopify-section-{{ section.id }} .section-header .title{
        {% if section.settings.title_size_mobile != blank %}
          font-size: {{ section.settings.title_size_mobile }}px;
        {% endif %}
      }
      #shopify-section-{{ section.id }} blockquote .rte-setting {
        {% if section.settings.quote_size_mobile != blank %}
          font-size: {{ section.settings.quote_size_mobile }}px;
        {% endif %}
      }
      #shopify-section-{{ section.id }} blockquote cite {
        {% if section.settings.author_size_mobile != blank %}
          font-size: {{ section.settings.author_size_mobile }}px;
        {% endif %}
      }
    }
</style>

{% schema %}
  {
    "name": "Testimonials",
    "class": "index-section quotes-section",
    "max_blocks": 9,
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Testimonials"
      },
      {
        "type": "range",
        "id": "title_size",
        "label": "Font size",
        "min": 10,
        "max": 100,
        "step": 1,
        "default": 32
      },
      {
        "type": "range",
        "id": "title_size_mobile",
        "label": "Font size (mobile)",
        "min": 10,
        "max": 100,
        "step": 1,
        "default": 28
      },


      {
        "type": "color",
        "id": "heading_background",
        "label": "Heading Background color"
      },
      {
        "type": "color",
        "id": "heading_color",
        "label": "Heading Color"
      },
      {
        "type": "color",
        "id": "color-blockquote",
        "label": "Quote color"
      },
      {
        "type": "color",
        "id": "color-author",
        "label": "Author color"
      },
      {
        "type": "select",
        "id": "size",
        "label": "Testimonials to show",
        "default": "3",
        "options": [
          {
            "value": "1",
            "label": "1"
          },
          {
            "value": "2",
            "label": "2"
          },
          {
            "value": "3",
            "label": "3"
          }
        ]
      },
      {
        "type": "checkbox",
        "id": "dots",
        "label": "Slider navigational dots?",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "arrows",
        "label": "Slider navigational arrows?",
        "default": true
      },
      {
        "type": "range",
        "id": "quote_size",
        "label": "Font size",
        "min": 10,
        "max": 100,
        "step": 1,
        "default": 18
      },
      {
        "type": "range",
        "id": "quote_size_mobile",
        "label": "Font size (mobile)",
        "min": 10,
        "max": 100,
        "step": 1,
        "default": 16
      },
      {
        "type": "range",
        "id": "author_size",
        "label": "Font size",
        "min": 10,
        "max": 100,
        "step": 1,
        "default": 12
      },
      {
        "type": "range",
        "id": "author_size_mobile",
        "label": "Font size (mobile)",
        "min": 10,
        "max": 100,
        "step": 1,
        "default": 12
      }
    ],
    "blocks": [
      {
        "type": "quote",
        "name": "Testimonial",
        "settings": [
          {
            "type": "richtext",
            "id": "quote",
            "label": "Text",
            "default": "<p>Add customer reviews and testimonials to showcase your store’s happy customers.</p>"
          },
          
          {
            "type": "text",
            "id": "author",
            "label": "Author",
            "default": "Author's name"
          }
          
        ]
      }
    ],
    "presets": [
      {
        "name": "Testimonials",
        "category": "Text",
        "blocks": [
          {
            "type": "quote"
          },
          {
            "type": "quote"
          },
          {
            "type": "quote"
          }
        ]
      }
    ]
  }
{% endschema %}
