
{% capture section_style_desktop %}	
  {% if section.settings.ptop != blank %}	
    padding-top: {{ section.settings.ptop }}px;	
  {% endif %}	
	
  {% if section.settings.pbottom != blank %}        	
    padding-bottom : {{ section.settings.pbottom }}px;	
  {% endif %}	
	
  {% if section.settings.background_color != blank %}	
    background-color: {{ section.settings.background_color }};	
  {% endif %}	
{% endcapture %}	
	
{% capture section_style_mobile %}	
  {% if section.settings.ptop_mob != blank %}	
  padding-top: {{ section.settings.ptop_mob }}px; 	
  {% endif %}	
	
  {% if section.settings.pbottom_mob != blank %}	
  padding-bottom: {{ section.settings.pbottom_mob }}px;	
  {% endif %}	
{% endcapture %}	

<style>
  {% if section_style_desktop != blank %}
    {% if section.settings.background_color_type == 'full_width' %}
    #shopify-section-{{ section.id }} .search-result-container{
      {{ section_style_desktop }}
    }
    {% elsif section.settings.background_color_type == 'container' %}
     #shopify-section-{{ section.id }} .search-result-container .contents {
        {{ section_style_desktop }}
      }
    {% endif %}
  {% endif %}

  @media (max-width: 767px) {
    {% if section_style_mobile != blank %}
      {% if section.settings.background_color_type == 'full_width' %}
      #shopify-section-{{ section.id }} .search-result-container{
        {{ section_style_mobile }}
      }
      {% elsif section.settings.background_color_type == 'container' %}
      #shopify-section-{{ section.id }} .search-result-container .contents {
        {{ section_style_mobile }}
      }
      {% endif %}
    {% endif %}
  }
</style>


{% paginate search.results by section.settings.limit_product %}

<div id="search-template">
  <div class="container">
    {% if search.results_count == 0 or search.performed == false %}
      <div class="empty-page-content text-center">
        <h1 class="h2">{{ 'general.search.title' | t }}</h1>
    {% else %}
      <div class="section-header text-center">
        <h1 class="h2">{{ 'general.search.results_with_count' | t: terms: search.terms, count: search.results_count }}</h1>
    {% endif %}

    <div class="row">
      <div class="col-md-24 offset-md-18s">
        <form action="/search" method="get" role="search" class="search">
          <div class="input-group">
            <input type="search"
              id="SearchInput"
              class="input-group__field search__input"
              name="q"
              value="{{ search.terms | escape }}"
              placeholder="{{ 'general.search.placeholder' | t }}"
              aria-label="{{ 'general.search.placeholder' | t }}"
              autofocus>
            <span class="input-group__btn">
              <button class="btn search__submit" type="submit">{{ 'general.search.submit' | t }}</button>
            </span>
          </div>
        </form>
      </div>
    </div>

    {% if search.performed and search.results_count == 0 %}
      <hr class="hr--small hr--invisible">
      <p>{{ 'general.search.no_results_html' | t: terms: search.terms }}</p>
    {% endif %}
    </div>
  </div>


  {% if search.performed %}
    {% if search.results_count > 0 %}
      <hr>
    {% endif %}
    <div class="search-result-container">
      <div class="container contents">
        <div class="row grid--view-items">
          {% for item in search.results %}
            <div class="col-30 col-md-20 col-sm-30">
              <a href="{{ item.url }}" class="list-view-item">
                {% if item.object_type == 'product' %}
                  {% include 'product-card-grid', product: item %}
                {% else %}
                  {% if item.image %}
                    <div class="list-view-item__image-column">
                      <div class="list-view-item__image-wrapper">
                        {% include 'image', class:'list-view-item__image', file: item.image.src, default_size: '600x600', alt: item.image.alt | escape %}
                      </div>
                    </div>
                  {% endif %}

                  <div class="list-view-item__title-column">
                    <div class="list-view-item__title">{{ item.title }}</div>
                    <div class="">
                      {% if item.published_at %}{{ item.published_at | date: "%b %d, %Y" }} &#8212; {% endif %}
                      {{ item.content | strip_html | truncate: 200 }}
                    </div>
                  </div>
                {% endif %}
              </a>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
    {% if paginate.pages > 1 %}
      {% include 'pagination' %}
    {% endif %}
  {% endif %}
  </div>
{% endpaginate %}

{% schema %}
{
  "name": "Search section",
  "settings": [
    
    {
      "type": "header",
      "content": "Search result grid"
    },
    {
      "type": "header",
      "content": "Spacing"
    },
    {
      "type": "range",
      "id": "ptop",
      "label": "Top spacing desktop",
      "min": 0,
      "unit": "px",
      "max": 500,
      "step": 5,
      "default": 15
    },
    {
      "type": "range",
      "id": "pbottom",
      "label": "Bottom spacing desktop",
      "min": 0,
      "unit": "px",
      "max": 500,
      "step": 5,
      "default": 15
    },
    {
      "type": "range",
      "id": "ptop_mob",
      "label": "Top spacing mobile",
      "min": 0,
      "unit": "px",
      "max": 500,
      "step": 5,
      "default": 5
    },
    {
      "type": "range",
      "id": "pbottom_mob",
      "label": "Bottom spacing mobile",
      "min": 0,
      "unit": "px",
      "max": 500,
      "step": 5,
      "default": 5
    }, 
    {
      "type": "color",
      "id": "background_color",
      "label": "Background Color"
    },
    {
      "type": "select",
      "id": "background_color_type",
      "label": "Background Color Wide",
      "default": "full_width",
      "options": [
        {
          "value": "full_width",
          "label": "Full Width"
        },
        {
          "value": "container",
          "label": "Container"
        }
      ]
    },
    {
      "type": "range",
      "id": "limit_product",
      "label": "Limit product count",
      "min": 0,
      "max": 60,
      "step": 1,
      "default": 9
    }, 
    {
      "type": "checkbox",
      "id": "variant_enable",
      "label": "Enable Variant",
      "default": true
    },
    {
      "type": "select",
      "id": "variant_swatch_position",
      "label": "Variant swatch position",
      "default": "below_title",
      "options": [
        {
          "value": "above_title",
          "label": "Above title"
        },
        {
            "value": "below_title",
            "label": "Below title"
        },
        {
            "value": "below_price",
            "label": "Below price"
        }
      ]
    }        
  ]
}
{% endschema %}